@import './src/scssmixins.scss';


:root {
    --color-text-default: rgb(55, 53, 47)  !important;
    --color-text-default-light: rgba(55, 53, 47, 0.6)  !important;
    --color-text-default-ondark: white  !important;
    --color-text-gray: rgb(155, 154, 151)  !important;
    --color-text-brown: rgb(100, 71, 58) !important;
    --color-text-orange: rgb(217, 115, 13) !important;
    --color-text-yellow: rgb(223, 171, 1) !important;
    --color-text-green: rgb(15, 123, 108) !important;
    --color-text-blue: rgb(11, 110, 153) !important;
    --color-text-purple: rgb(105, 64, 165) !important;
    --color-text-pink: rgb(173, 26, 114) !important;
    --color-text-red: rgb(224, 62, 62) !important;
    --color-bg-default: rgb(255, 255, 255) !important;
    --color-bg-gray: rgb(235, 236, 237) !important;
    --color-bg-brown: rgb(233, 229, 227) !important;
    --color-bg-orange: rgb(250, 235, 221) !important;
    --color-bg-yellow: rgb(251, 243, 219) !important;
    --color-bg-green: rgb(221, 237, 234) !important;
    --color-bg-blue: rgb(221, 235, 241) !important;
    --color-bg-purple: rgb(234, 228, 242) !important;
    --color-bg-pink: rgb(244, 223, 235) !important;
    --color-bg-red: rgb(251, 228, 228) !important;
    --color-bg-gray-light: rgba(235, 236, 237, 0.8) !important;
    --color-bg-brown-light: rgba(233, 229, 227, 0.3) !important;
    --color-bg-orange-light: rgba(250, 235, 221, 0.3) !important;
    --color-bg-yellow-light: rgba(251, 243, 219, 0.3) !important;
    --color-bg-green-light: rgba(221, 237, 234, 0.3) !important;
    --color-bg-blue-light: rgba(221, 235, 241, 0.3) !important;
    --color-bg-purple-light: rgba(234, 228, 242, 0.3) !important;
    --color-bg-pink-light: rgba(244, 223, 235, 0.3) !important;
    --color-bg-red-light: rgba(251, 228, 228, 0.3) !important;
    --color-pill-default: rgba(206, 205, 202, 0.5) !important;
    --color-pill-gray: rgba(155, 154, 151, 0.4) !important;
    --color-pill-brown: rgba(140, 46, 0, 0.2) !important;
    --color-pill-orange: rgba(245, 93, 0, 0.2) !important;
    --color-pill-yellow: rgba(233, 168, 0, 0.2) !important;
    --color-pill-green: rgba(0, 135, 107, 0.2) !important;
    --color-pill-blue: rgba(0, 120, 223, 0.2) !important;
    --color-pill-purple: rgba(103, 36, 222, 0.2) !important;
    --color-pill-pink: rgba(221, 0, 129, 0.2) !important;
    --color-pill-red: rgba(255, 0, 26, 0.2) !important;
    --color-ui-hover-bg: rgba(55, 53, 47, 0.08) !important;
    --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03) !important;
    --color-card-bg: rgb(255, 255, 255) !important;
    --color-accent-bg: rgb(46, 170, 220) !important;
    --color-border-default: rgba(235, 236, 237, 0.8) !important;
    --color-border-dark: rgba(55, 53, 47, 0.16) !important;

    --column-spacing: 20px !important;
    --collection-card-cover-size-small: 200px !important;
    --collection-card-cover-size-medium: 280px !important;
    --collection-card-cover-size-large: 350px !important;
    --collection-card-border-radius: 15px;

    --callout-bg-color: var(--color-bg-default);
    --callout-border-radius: 20px;

    --navHeight: 80px;
    --navScreenMargin: 20px;
    --button-radius: 20px;
    --button-color: #159393;
    --box-radius: 30px;
    --contentMaxWidth: 1200px;
    --defaultOuterPadding: calc(env(safe-area-inset-left) + 96px);
    --color-nav-bg: rgba(20, 20, 20, .9);
    --color-highlight-default: #24AFFF;
    --title-font-family: 'Montserrat', sans-serif; 

    --divider-thickness: 40px;

    --boxshadow-default: 0px 3px 25px rgba(0,0,0,.2);
    --boxshadow-callout: 0px 3px 25px  var(--callout-bg-color);
    --boxshadow-heavy: 0px 5px 35px rgba(0,0,0,.4);
    --text-shadow-default: 0px 3px 25px rgba(24, 15, 15, 1);
    --text-shadow-callout: 0px 3px 25px var(--callout-bg-color);
    --text-shadow-heavy: 0px 3px 15px rgba(0, 0, 0, 1),  0px 0px 25px rgba(0, 0, 0, .5);

    --padding-safe-area-top:  calc(env(safe-area-inset-top) + var(--navHeight) + var(--navScreenMargin));
    --padding-s-lr: 96px;
    --padding-safe-area-bottom:  calc(env(safe-area-inset-bottom));
    --padding-safe-area-left:  calc(env(safe-area-inset-left) + var(--padding-s-lr));
    --padding-safe-area-right:  calc(env(safe-area-inset-right) + var(--padding-s-lr));
    --padding-fullwidth-lr: 5vw;

    --props-gap: 8px;

    --page-Header-Width: 40%;
    --page-Content-Width: 60%;
    --mage-Content-Max-Width: unset;

    --footer-bg-color: var(--color-bg-default);

    /*--breakpoint-1: max-width: 680px;
    (max-width: 546px)
    (max-width: 450px) {
        (max-width: 860px) {*/
    

    @include breakpoint($bp-xl) {

        --padding-s-lr: 24px;

    }
    @include breakpoint($bp-lg) {

        --divider-thickness: 20px;
        --padding-safe-area-top:  calc(env(safe-area-inset-top) + var(--navScreenMargin));
        --padding-safe-area-bottom:  calc(env(safe-area-inset-bottom) + var(--navHeight) + var(--navScreenMargin));
    }
    @include breakpoint($bp-md) {

        //--padding-safe-area-top:  calc(env(safe-area-inset-left));
    }
    @include breakpoint($bp-sm) {


        --padding-s-lr: 15px;
    }
    
}

::-moz-selection {
    background: var(--color-highlight-default) !important;
    opacity: .3 !important;
}

::selection {
    background: var(--color-highlight-default) !important;
    opacity: .3 !important;
}

html, body {

    min-height: 100%;
    &, .notion-semantic-string {
        font-family: 'Open Sans', sans-serif;
    }
}
.notion-toggle.bg-purple {
    display: none;
}
.notion-semantic-string span {
    overflow-x: visible;
}
/*html.unloaded, html {
    opacity: 0;
}
html.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}*/
//html.modified {
body {
    background-color: transparent;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

    &.unloaded > * {
        opacity: 0;
    }
    &.loaded {
        opacity: 1;
        transition: all .2s ease-in-out;
    }

    &:before {
        background: linear-gradient(180deg, rgba(214,247,255,1), rgba(255,255,255,1)) !important;
        content: "";
        position: fixed;
        top:0px;
        left:0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

h1, h2, h3, h4, h5, .notion-heading {
    //overflow: auto;
    margin-bottom: 10px !important;
    margin-top: 5px;

    &, .notion-semantic-string {
        font-family: var(--title-font-family) !important;
        font-weight: 300;
        line-height: 1em !important;
        word-break:normal;

        strong {
            //text-transform: uppercase;
            text-align: center;
        }
        em {
            font-family: 'Permanent Marker', cursive;
            font-style: normal;
            letter-spacing: 2px;
        }
    }
}
h1 .notion-semantic-string{
    font-weight: 700 !important;
    font-size: 1.5em;
}
h2 .notion-semantic-string{
    font-weight: 700 !important;
}
h3 .notion-semantic-string{
    text-transform: uppercase;
}

#page-index .notion-header {
    display: none;
}


@import './src/notion-reset.scss';

/* Navbar */
.notion-navbar {
    display: none !important;
}
.super-navbar {
    --padding-LR: 20px;
    --padding-TB: 10px;

    display: block;
    padding-left: var(--padding-safe-area-left) !important;
    padding-right: var(--padding-safe-area-right) !important;
    width: 100% !important;
    height: calc(var(--navHeight) + var(--navScreenMargin)) !important;
    position: fixed !important;
    top: calc(0px + env(safe-area-inset-top));
    left:0px;
    box-sizing: border-box;
    z-index: 1000;
    padding-top: var(--navScreenMargin);
    background-color: transparent !important;

    @include breakpoint($bp-lg) {
        top: unset !important;
        bottom: calc(0px + env(safe-area-inset-bottom)) !important;
        padding-top: 0px;
        padding-bottom: var(--navScreenMargin);

    }
    .super-navbar__menu-wrapper {
        transform-origin: bottom right;
        &.active {

        }
        .super-navbar__menu {
            position: absolute;
            top: unset;
            bottom: calc(var(--navHeight) + var(--navScreenMargin));
        }
    }

    a, a div, a svg {
        cursor: default;
    }

    .n-navbar__content, .super-navbar__content {

        width: 100%;
        height: 100%;
        display: flex;
        padding: var(--padding-TB) 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.6));
        backdrop-filter: blur(25px) brightness(150%);
        -webkit-backdrop-filter: blur(25px);
        border-radius: calc(var(--box-radius) * 2);
        border:solid 2px rgba(255,255,255,.3);
        box-shadow: var(--boxshadow-heavy);
    }

    .n-navbar__divider {
        flex-grow: 2;
    }

    .notion-navbar__search {
        position: unset !important;
        top: unset;
        bottom: unset;
        z-index: 2 !important;
        cursor: default;

        &:hover svg {
            transform: scale(1.1);
        }
    }

    //Logo
    .super-navbar__logo-image {
        width: 100% !important;
        height: calc(var(--navHeight) - var(--padding-LR)) !important;
        max-height: var(--navHeight) !important;

    }
    .n-navbar__siteinfo {
        display: flex;
        flex-flow: row;

        img {
            height: calc(var(--navHeight) - var(--padding-LR));
            max-height: var(--navHeight);
            /*min-height: var(--navHeight);
            max-width: var(--navHeight);
            object-fit: cover !important;
            object-position: 0px 0px !important;*/
        }
        .n-navbar__sitename {
            //margin-left: 10px;
        }
    }
    .n-navbar__navlinks, .n-navbar__herolinks {
        align-items: center;
        flex-wrap: nowrap;
        list-style-type: none !important;
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    // Regular links
    
    .n-navbar__navlinks li a, .super-navbar__item-list a{
        padding: 8px 15px;
        text-transform: uppercase;
        background-color:transparent;
        border-radius: calc(var(--button-radius) / 2);
        transition: all .2s ease-in-out;
        color:black;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        &:hover {
            background-color: rgba(255,255,255,.6);
            color: var(--color-highlight-default);
            box-shadow: var(--boxshadow-default);
            transform: scale(1.1);
        }
    }
    .super-navbar__item-list {
        overflow: visible;
    }

    // Hero Links
    .n-navbar__herolinks li a, .super-navbar__actions .notion-link div {
        padding: 5px 20px;
        text-transform: uppercase;
        background-color: transparent !important;
        backdrop-filter: brightness(250%) blur(20px);
        -webkit-backdrop-filter: brightness(250%) blur(20px);
        border:solid 3px var(--button-color) !important;
        border-radius: calc(var(--button-radius));
        color: var(--button-color) !important;
        font-weight: bold;
        letter-spacing: 2px;
        opacity: 1;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }

        .notion-link {
            opacity: 1;
        }
    }
    
    .n-navbar__herolinks {
        margin-left: 10px;
    }
}


/* Callouts */
.notion-callout:not(.n-cta-button){
    --callout-border-radius: 15px;
    --text-shadow-callout: 0px 3px 20px var(--callout-bg-color);

    position: relative;
    border-radius:var(--callout-border-radius);
    padding: 0px;
    margin: 0px;

    
    & > .notion-callout__icon {
        display: none;
    }
    & > .notion-callout__content {
        & > .notion-semantic-string {
            display: none;
        }
        position: relative;
        z-index: 2;
        overflow: visible;
        padding: 10px 20px;

        .notion-heading {
            overflow: visible;
        }
    }
    
    &.contains-image > .notion-callout__icon {
        display: none;
    }


    &.bg-gray-light {
        --callout-bg-color: var(--color-text-default);
    }
    &.bg-brown-light {
        --callout-bg-color: var(--color-text-brown);
    }
    &.bg-orange-light {
        --callout-bg-color: var(--color-text-orange);
    }
    &.bg-yellow-light {
        --callout-bg-color: var(--color-text-yellow);
    }
    &.bg-green-light {
        --callout-bg-color: var(--color-text-green);
    }
    &.bg-blue-light {
        --callout-bg-color: var(--color-text-blue);
    }
    &.bg-purple-light {
        --callout-bg-color: var(--color-text-purple);
    }
    &.bg-pink-light {
        --callout-bg-color: var(--color-text-pink);
    }
    &.bg-red-light {
        --callout-bg-color: var(--color-text-red);
    }

    &.contains-image {

        color: white;
        text-shadow: var(--text-shadow-callout);
    
    }
}

/* Hero */
.n-callout-hero {
    margin: 0px !important;
    margin-bottom: 40px !important;
    padding: 0px !important;
    padding-top:var(--padding-safe-area-top) !important;
    width: 100vw;
    align-self: center;
    border:none !important;
    --callout-border-radius: 0px !important;

    & > .notion-callout__content {
        width: 100%;
        padding: 50px var(--padding-safe-area-left) 50px var(--padding-safe-area-right) !important;
        margin-top: 0px !important;
        text-shadow: var(--text-shadow-default), var(--text-shadow-default);

        & > .notion-semantic-string {
            display: none;
        }
    }

    @include breakpoint($bp-lg) {
        padding-top:0px !important;
    }

    h1 {
    margin-bottom: 0px !important;
    }
    h1 .notion-semantic-string{
        font-size: 5.2vw;
        @include breakpoint($bp-lg) {
            font-size: 1.5em;
        }
    }
    & > .notion-callout__content .notion-column {
        justify-content: flex-end;
    }

    .notion-text {
        min-height: unset;
    }

    .notion-divider {
        margin-top: .8vw !important;
        margin-bottom: .8vw !important;

        @include breakpoint($bp-lg) {
            margin-top: .2vw !important;
            margin-bottom: .2vw !important;
        }
    }

    .notion-callout__bg {
        &::after {
            content: "";
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            top:0px;
            left: 0px;
            z-index: 4;
            background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.7));
        }
    }
}
.n-callout-children {
    align-items: stretch !important;

    .notion-column {
        align-items: stretch;

        & > a > div{
            min-height:12vw;
            display: flex;
            align-items: flex-end;

            @include breakpoint($bp-lg) {
                min-height: 120px;
            }
        }
        & .notion-picture {
            min-height: 12vw;;
        }
    }
}

//The Four Buttons
.n-callout-children .notion-callout:not(.n-cta-button) {
    --callout-border-radius:3vw;
    align-self: stretch;
    box-shadow: var(--boxshadow-default);
    border:solid 2px rgba(255, 255, 255, .5);
    transition: all .5s ease-in-out;
    text-shadow: var(--text-shadow-default), var(--text-shadow-default);
    @include breakpoint($bp-lg) {
        border-radius: 50px;
    }

    .notion-callout__bg {
        //animation: bgImageIn 1s ease-in-out 1.5s;
        &::before {
            position: absolute;
            left: 0px;
            top: 0px;
            content: "";
            background-color: white;
            height: 100%;
            width: 100%;
            opacity: .5;
            transition: all ease-in-out .5s;
            z-index: 2;
            border-radius: calc(var(--callout-border-radius)+2px);
        }
    }

    .notion-callout__content {
        padding: 20px 25px;
        width: 100%;

        h1 .notion-semantic-string{
            font-size: 2vw;
            line-height: .5 !important;
            @include breakpoint($bp-lg) {
                font-size: 1.2em;
            }
        }
    }
    .notion-callout__content > .notion-semantic-string, .notion-callout__icon {
        display: none !important;
    }

    h1 {
        margin-top:0px;
        margin-bottom: 0px;
    }

    &:hover {
        transform: scale(1.05);

       .notion-callout__bg {
            &::before {
                opacity: .1;
            }
        }
    }
}
.n-callout-children .notion-callout__bg .notion-image.page-width {
    border-radius: 70px;
    box-shadow: var(--boxshadow-default);
    border:solid 2px rgba(255, 255, 255, .5);
    transition: all .5s ease-in-out;
    overflow: hidden;

    img, picture, a {
        height: 100%;
        object-fit: cover;
        display: block;

    transition: all .5s ease-in-out;
    }
    &:hover img {
        transform: scale(1.05);
    }
}
.n-callout-children .notion-column > .notion-collection .notion-collection-card {
    width: 100%;
    min-width: unset !important;
}
.n-callout-children .notion-column > .notion-collection .notion-collection-card:not(:first-child) {
    display: none;
}



/* CTA Buttons */
.n-cta-button {
    border-radius: var(--button-radius) !important;
    padding: 10px 15px !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    align-content: center;
    justify-content: center;
    box-shadow: var(--boxshadow-default);
    transition: all ease-in-out .2s;


    &.bg-gray-light {
        --button-color: var(--color-text-gray);
    }
    &.bg-brown-light {
        --button-color: var(--color-text-brown);
    }
    &.bg-orange-light {
        --button-color: var(--color-text-orange);
    }
    &.bg-yellow-light {
        --button-color: var(--color-text-yellow);
    }
    &.bg-green-light {
        --button-color: var(--color-text-green);
    }
    &.bg-blue-light {
        --button-color: var(--color-text-blue);
    }
    &.bg-purple-light {
        --button-color: var(--color-text-purple);
    }
    &.bg-pink-light {
        --button-color: var(--color-text-pink);
    }
    &.bg-red-light {
        --button-color: var(--color-text-red);
    }

    &.btn-primary {
        color: white;
        border: solid 3px white !important;
        background-color: var(--button-color);
    }
    &.btn-secondary {
        border: solid 3px var(--button-color) !important;
        background-color: white;
        color: var(--button-color)
    }

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 3px 15px var(--button-color);
        .notion-callout__content {
            text-decoration: underline;
        }
    }

    .notion-callout__icon {
        order: 2;
        text-align: right;
    }

    .notion-callout__content {
        margin-left: 0px !important;
        flex-grow: 2;
    }

}


@keyframes bgImageIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.notion-callout__bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    background-color: black;
    border-radius: var(--callout-border-radius);
    overflow: hidden;

    &::before {
        content: "";
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top:0px;
        left: 0px;
        z-index: 3;
        opacity: .5;
        background-color: var(--callout-bg-color);
        border-radius: var(--callout-border-radius);
        //background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.7));
    }


    .notion-callout__bg__embed, .notion-callout__bg__image-icon, .notion-callout__bg__image-body {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .notion-callout__bg__embed {
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: var(--callout-border-radius);

        &.contains-video iframe {
            //transform: translateY(-50%);
        }

        iframe {
            height: 100%;
            width: 100%;
            transform: scale(1.3);
        }

        @include breakpoint($bp-lg) {
            display: none !important;
        }
        
    }
    .notion-callout__bg__image-icon, .notion-callout__bg__image-body {
        z-index: 1;
        border-radius: var(--callout-border-radius);
    }
    .notion-callout__bg__image-body {

        animation: bgImageIn 1.5s ease-in-out;
    }
    .notion-image {
        margin: 0px;
    }

    div, img, span {
        height:100% !important;
        width: 100% !important;
        object-fit: cover !important;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

//
// Layout and Content
//

/* Page Header */
// Desktop & Tablet
@media only screen and (min-width: ($bp-xl + 1)) and (min-height: 401px) {
    body.n-full-width:not(.n-contains-hero) {
        @import './layout/full-width.scss';
    }
    body.n-normal-width:not(.n-contains-hero) {
        @import './layout/normal-width.scss';
    }
}
// Mobile
@media only screen and (max-width: $bp-xl), screen and (max-height: 400px)  {
    body.n-normal-width, body.n-full-width {
        @import './layout/content-mobile.scss';
    }
}
.notion-header {
    body.n-contains-hero & {
        display: none !important;
    }
}

@import './layout/tables-galleries.scss';

@media (max-width: $bp-md) {
@import './sitestyle-block-mobile.scss';
}
//}


/* Nysics Lightbox */
.n-lightbox {
    display:none;
    height:100vh;
    width:100vw;
    background-color:rgba(0,0,0,.8);
    z-index:-1;
    position:fixed;
    top:0px;
    left:0px;
    padding:1vh 1vw;
    backdrop-filter:blur(5px);
    cursor:zoom-out;
}
    .n-lightbox.open {
        z-index:200000;
        display:flex;
        animation-name: n-lightboxOpen;
        animation-duration: .5s;
    }
    .n-lightbox.open.closing {
        animation-name: n-lightboxClose;
        animation-delay:.2s;
        animation-duration: .5s;
    }
.n-lightbox .n-lightbox__blocker {
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:2;
    cursor:zoom-out;
}
.n-lightbox img {
    width:100%;
    height:100%;
    object-fit:contain;
    opacity:0;
}
    .n-lightbox.open img {
    animation-name: n-lightboxOpenImg;
    animation-duration: 1s;
    animation-delay: 0s;
    opacity:1;
    cursor:zoom-out;
    }
    .n-lightbox.open.closing img {
        animation-name: n-lightboxCloseImg;
        animation-duration: .7s;
        animation-delay: 0s;
    }
.n-lightbox #n-lightbox__close {
    display:block;
    width:100%;
    position:absolute;top:0px;left:0px;
    padding:2vh 2vw;
    text-align:right;
    z-index:2;
    background-color:rgba(0,0,0,.8);
    text-transform:uppercase;
    letter-spacing:1.4px;
    color:var(--color-text-red);
    cursor:default;
}
@keyframes n-lightboxOpen {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}
@keyframes n-lightboxClose {
  0% {
    opacity:1;
  }

  100% {
    opacity:0;
  }
}
@keyframes n-lightboxOpenImg {
  0% {
    transform: scale(.85);
    opacity:0;
    filter:blur(5px);
  }
  20% {
    transform: scale(.85);
    opacity:0;
    filter:blur(5px);
  }
    80% {
        
    filter:blur(0px);
    }
  100% {
    transform: scale(1);
    opacity:1;
  }
}
@keyframes n-lightboxCloseImg {
  0% {
    transform: scale(1);
    opacity:1;
  }
  100% {
    transform: scale(.85);
    opacity:0;
    filter:blur(5px);
  }
}



//Footer
#block-d79aa4dadc4847ec95276c136b84d8e0 {
    background-color: var(--color-bg-default) !important;
    margin-bottom: 0px;
    padding-left: var(--padding-safe-area-left);
    padding-right: var(--padding-safe-area-right);
}