:root {
    --color-text-default: rgb(55, 53, 47)  !important;
    --color-text-default-light: rgba(55, 53, 47, 0.6)  !important;
    --color-text-default-ondark: white  !important;
    --color-text-gray: rgb(155, 154, 151)  !important;
    --color-text-brown: rgb(100, 71, 58) !important;
    --color-text-orange: rgb(217, 115, 13) !important;
    --color-text-yellow: rgb(223, 171, 1) !important;
    --color-text-green: rgb(15, 123, 108) !important;
    --color-text-blue: rgb(11, 110, 153) !important;
    --color-text-purple: rgb(105, 64, 165) !important;
    --color-text-pink: rgb(173, 26, 114) !important;
    --color-text-red: rgb(224, 62, 62) !important;
    --color-bg-default: rgb(255, 255, 255) !important;
    --color-bg-gray: rgb(235, 236, 237) !important;
    --color-bg-brown: rgb(233, 229, 227) !important;
    --color-bg-orange: rgb(250, 235, 221) !important;
    --color-bg-yellow: rgb(251, 243, 219) !important;
    --color-bg-green: rgb(221, 237, 234) !important;
    --color-bg-blue: rgb(221, 235, 241) !important;
    --color-bg-purple: rgb(234, 228, 242) !important;
    --color-bg-pink: rgb(244, 223, 235) !important;
    --color-bg-red: rgb(251, 228, 228) !important;
    --color-bg-gray-light: rgba(235, 236, 237, 0.8) !important;
    --color-bg-brown-light: rgba(233, 229, 227, 0.3) !important;
    --color-bg-orange-light: rgba(250, 235, 221, 0.3) !important;
    --color-bg-yellow-light: rgba(251, 243, 219, 0.3) !important;
    --color-bg-green-light: rgba(221, 237, 234, 0.3) !important;
    --color-bg-blue-light: rgba(221, 235, 241, 0.3) !important;
    --color-bg-purple-light: rgba(234, 228, 242, 0.3) !important;
    --color-bg-pink-light: rgba(244, 223, 235, 0.3) !important;
    --color-bg-red-light: rgba(251, 228, 228, 0.3) !important;
    --color-pill-default: rgba(206, 205, 202, 0.5) !important;
    --color-pill-gray: rgba(155, 154, 151, 0.4) !important;
    --color-pill-brown: rgba(140, 46, 0, 0.2) !important;
    --color-pill-orange: rgba(245, 93, 0, 0.2) !important;
    --color-pill-yellow: rgba(233, 168, 0, 0.2) !important;
    --color-pill-green: rgba(0, 135, 107, 0.2) !important;
    --color-pill-blue: rgba(0, 120, 223, 0.2) !important;
    --color-pill-purple: rgba(103, 36, 222, 0.2) !important;
    --color-pill-pink: rgba(221, 0, 129, 0.2) !important;
    --color-pill-red: rgba(255, 0, 26, 0.2) !important;
    --color-ui-hover-bg: rgba(55, 53, 47, 0.08) !important;
    --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03) !important;
    --color-card-bg: rgb(255, 255, 255) !important;
    --color-accent-bg: rgb(46, 170, 220) !important;
    --color-border-default: rgba(235, 236, 237, 0.8) !important;
    --color-border-dark: rgba(55, 53, 47, 0.16) !important;
    --column-spacing: 46px !important;
    --collection-card-cover-size-small: 172px !important;
    --collection-card-cover-size-medium: 260px !important;
    --collection-card-cover-size-large: 320px !important;

    --navHeight: 80px;
    --button-radius: 20px;
    --button-color: #159393;
    --box-radius: 30px;
    --contentMaxWidth: 1200px;
    --defaultOuterPadding: calc(env(safe-area-inset-left) + 96px);
    --color-nav-bg: rgba(20, 20, 20, .9);
    --color-highlight-default: #24AFFF;
    --title-font-family: 'Montserrat', sans-serif; 

    --boxshadow-default: 0px 3px 25px rgba(0,0,0,.2);
    --boxshadow-heavy: 0px 5px 35px rgba(0,0,0,.4);
    --text-shadow-default: 0px 3px 25px rgba(24, 15, 15, 1);
    --text-shadow-heavy: 0px 3px 15px rgba(0, 0, 0, 1),  0px 0px 25px rgba(0, 0, 0, .5);

    --padding-safe-area-left:  calc(env(safe-area-inset-left) + 96px);
    --padding-safe-area-right:  calc(env(safe-area-inset-right) + 96px);

    --page-Header-Width: 40%;
    --page-Content-Width: 60&;
    --mage-Content-Max-Width: unset;

    /*--breakpoint-1: max-width: 680px;
    (max-width: 546px)
    (max-width: 450px) {
        (max-width: 860px) {*/
}

::-moz-selection {
    background: var(--color-highlight-default) !important;
    opacity: .3 !important;
}

::selection {
    background: var(--color-highlight-default) !important;
    opacity: .3 !important;
}

html, body {

    min-height: 100%;
    &, .notion-semantic-string {
        font-family: 'Open Sans', sans-serif;
    }
}
.notion-toggle.bg-purple {
    display: none;
}
.notion-semantic-string span {
    overflow-x: visible;
}
/*html.unloaded, html {
    opacity: 0;
}
html.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}*/
//html.modified {
body {
    background: linear-gradient(180deg, rgba(214,247,255,1), rgba(255,255,255,1)) !important;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

    &.unloaded > * {
        opacity: 0;
    }
    &.loaded {
        opacity: 1;
        transition: all .2s ease-in-out;
    }
}

h1, h2, h3, h4, h5, .notion-heading {
    //overflow: auto;
    .notion-semantic-string {
        font-family: var(--title-font-family);
        font-weight: 300;
        line-height: .8em !important;
        word-break:normal;

        strong {
            //text-transform: uppercase;
            text-align: center;
        }
        em {
            font-family: 'Permanent Marker', cursive;
            font-style: normal;
        }
    }
}
h1 .notion-semantic-string{
    font-weight: 700 !important;
    font-size: 1.5em;
}
h2 .notion-semantic-string{
    font-weight: 700 !important;
}
h3 .notion-semantic-string{
    text-transform: uppercase;
}

#page-index .notion-header {
    display: none;
}

.notion-toggle.bg-purple {
    //display: none;
}
.notion-callout > .notion-callout__content {
    margin-left: 0px;
}
.bg-pink {
    background-color: transparent !important;
    text-align: center;
}
.notion-divider {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    border-color: transparent !important;
    border-width: 0px !important;
    opacity: 0;
}


/* Navbar */
.notion-navbar {
    display: none !important;
}
.n-navbar, .super-navbar {
    --padding-LR: 20px;
    --padding-TB: 10px;
    --screenMargin: 20px;

    display: block;
    padding-left: var(--padding-safe-area-left) !important;
    padding-right: var(--padding-safe-area-right) !important;
    width: 100% !important;
    height: calc(var(--navHeight) + var(--screenMargin)) !important;
    position: fixed !important;
    top: calc(0px + env(safe-area-inset-top));
    left:0px;
    box-sizing: border-box;
    z-index: 1000;
    padding-top: var(--screenMargin);
    background-color: transparent !important;

    a, a div, a svg {
        cursor: default;
    }

    .n-navbar__content, .super-navbar__content {

        width: 100%;
        height: 100%;
        display: flex;
        padding: var(--padding-TB) 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.6));
        backdrop-filter: blur(25px) brightness(150%);
        -webkit-backdrop-filter: blur(25px);
        border-radius: calc(var(--box-radius) * 2);
        border:solid 2px rgba(255,255,255,.3);
        box-shadow: var(--boxshadow-heavy);
    }

    .n-navbar__divider {
        flex-grow: 2;
    }

    .notion-navbar__search {
        position: unset !important;
        top: unset;
        bottom: unset;
        z-index: 2 !important;
        cursor: default;

        &:hover svg {
            transform: scale(1.1);
        }
    }

    //Logo
    .super-navbar__logo-image {
        width: 100% !important;
        height: calc(var(--navHeight) - var(--padding-LR)) !important;
        max-height: var(--navHeight) !important;

    }
    .n-navbar__siteinfo {
        display: flex;
        flex-flow: row;

        img {
            height: calc(var(--navHeight) - var(--padding-LR));
            max-height: var(--navHeight);
            /*min-height: var(--navHeight);
            max-width: var(--navHeight);
            object-fit: cover !important;
            object-position: 0px 0px !important;*/
        }
        .n-navbar__sitename {
            //margin-left: 10px;
        }
    }
    .n-navbar__navlinks, .n-navbar__herolinks {
        align-items: center;
        flex-wrap: nowrap;
        list-style-type: none !important;
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    // Regular links
    
    .n-navbar__navlinks li a, .super-navbar__item-list a{
        padding: 8px 15px;
        text-transform: uppercase;
        background-color:transparent;
        border-radius: calc(var(--button-radius) / 2);
        transition: all .2s ease-in-out;
        color:black;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        &:hover {
            background-color: rgba(255,255,255,.6);
            color: var(--color-highlight-default);
            box-shadow: var(--boxshadow-default);
            transform: scale(1.1);
        }
    }
    .super-navbar__item-list {
        overflow: visible;
    }

    // Hero Links
    .n-navbar__herolinks li a, .super-navbar__actions .notion-link div {
        padding: 5px 20px;
        text-transform: uppercase;
        background-color: transparent !important;
        backdrop-filter: brightness(250%) blur(20px);
        -webkit-backdrop-filter: brightness(250%) blur(20px);
        border:solid 3px var(--button-color) !important;
        border-radius: calc(var(--button-radius));
        color: var(--button-color) !important;
        font-weight: bold;
        letter-spacing: 2px;
        opacity: 1;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }

        .notion-link {
            opacity: 1;
        }
    }
    
    .n-navbar__herolinks {
        margin-left: 10px;
    }
}

/* Hero */
.n-callout-hero {
    margin: 0px !important;
    padding: 0px !important;
    padding-top:var(--navHeight) !important;
    width: 100vw;
    align-self: center;
    border:none !important;

    & > .notion-callout__content {
        width: 100%;
        padding: 50px 5%;
        margin-top: 0px !important;

        & > .notion-semantic-string {
            display: none;
        }
    }

    h1 .notion-semantic-string{
        font-size: 5.8vw;
    }
    & > .notion-callout__content .notion-column {
        justify-content: flex-end;
    }

    .notion-divider {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .notion-callout__bg {
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            top:0px;
            left: 0px;
            z-index: 1;
            background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.7));
        }
    }
}
.n-callout-children {
    align-items: stretch !important;

    .notion-column {
        align-items: stretch;

        & > a > div{
            min-height:12vw;
            display: flex;
            align-items: flex-end;
        }
        & .notion-picture {
            min-height: 12vw;;
        }
    }
}

.n-callout-children .notion-callout:not(.n-cta-button) {
    align-self: stretch;
    border-radius: 5vw;
    box-shadow: var(--boxshadow-default);
    border:solid 2px rgba(255, 255, 255, .5);
    transition: all .5s ease-in-out;

    .notion-callout__bg {
        //animation: bgImageIn 1s ease-in-out 1.5s;
        &::before {
            position: absolute;
            left: 0px;
            top: 0px;
            content: "";
            background-color: white;
            height: 100%;
            width: 100%;
            opacity: .5;
            transition: all ease-in-out .5s;
            z-index: 2;
        }
    }

    .notion-callout__content {
        padding: 10px;

        h1 .notion-semantic-string{
            font-size: 2vw;
            line-height: .5 !important;
        }
    }
    .notion-callout__content > .notion-semantic-string, .notion-callout__icon {
        display: none !important;
    }

    h1 {
        margin-top:0px;
        margin-bottom: 0px;
    }

    &:hover {
        transform: scale(1.05);

       .notion-callout__bg {
            &::before {
                opacity: .1;
            }
        }
    }
}
.n-callout-children .notion-image.page-width {
    border-radius: 70px;
    box-shadow: var(--boxshadow-default);
    border:solid 2px rgba(255, 255, 255, .5);
    transition: all .5s ease-in-out;
    overflow: hidden;

    img, picture, a {
        height: 100%;
        object-fit: cover;
        display: block;

    transition: all .5s ease-in-out;
    }
    &:hover img {
        transform: scale(1.05);
    }
}


.n-callout-children .notion-column > .notion-collection .notion-collection-card {
    width: 100%;
    min-width: unset !important;
}
.n-callout-children .notion-column > .notion-collection .notion-collection-card:not(:first-child) {
    display: none;
}

/* CTA Buttons */
.n-cta-button {
    border-radius: 20px !important;
    padding: 10px 15px !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    align-content: center;
    justify-content: center;
    box-shadow: var(--boxshadow-default);
    transition: all ease-in-out .2s;

    &.btn-primary {
        color: white;
        border: solid 3px white !important;
        background-color: var(--button-color);
    }
    &.btn-secondary {
        border: solid 3px var(--button-color) !important;
        background-color: white;
        color: var(--button-color)
    }

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 3px 15px var(--button-color);
        .notion-callout__content {
            text-decoration: underline;
        }
    }

    .notion-callout__icon {
        order: 2;
        text-align: right;
    }

    .notion-callout__content {
        margin-left: 0px !important;
        flex-grow: 2;
    }
    .notion-link {
    }

}

/* Callouts */
.notion-callout {
    position: relative;
    .notion-callout__content {
        position: relative;
        z-index: 2;
        overflow: visible;
        .notion-heading {
            overflow: visible;
        }
    }
    
    &.contains-image > .notion-callout__icon {
        display: none;
    }

}
.notion-callout.contains-image {

    color: white;
    text-shadow: var(--text-shadow-heavy);

}

@keyframes bgImageIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.notion-callout__bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    background-color: black;


    .notion-callout__bg__image-body {

        animation: bgImageIn 1.5s ease-in-out;
    }
    .notion-image {
        margin: 0px;
    }

    div, img, span {
        height:100% !important;
        width: 100% !important;
        object-fit: cover !important;
    }
}

@import './tables/tables-galleries.scss';


@media (max-width: 546px) {
@import './sitestyle-block-mobile.scss';
}
//}


#block-5658a1419424488386e80e82704d2687, #block-f41c53abb1154e169eed9e02afcfb795 {
    text-shadow: 0px 3px 25px rgba(255, 255, 255, .8);
    color: white;
    //text-align: center;
}