:root {
  --color-text-default: rgb(55, 53, 47) !important;
  --color-text-default-light: rgba(55, 53, 47, 0.6) !important;
  --color-text-default-ondark: white !important;
  --color-text-gray: rgb(155, 154, 151) !important;
  --color-text-brown: rgb(100, 71, 58) !important;
  --color-text-orange: rgb(217, 115, 13) !important;
  --color-text-yellow: rgb(223, 171, 1) !important;
  --color-text-green: rgb(15, 123, 108) !important;
  --color-text-blue: rgb(11, 110, 153) !important;
  --color-text-purple: rgb(105, 64, 165) !important;
  --color-text-pink: rgb(173, 26, 114) !important;
  --color-text-red: rgb(224, 62, 62) !important;
  --color-bg-default: rgb(255, 255, 255) !important;
  --color-bg-gray: rgb(235, 236, 237) !important;
  --color-bg-brown: rgb(233, 229, 227) !important;
  --color-bg-orange: rgb(250, 235, 221) !important;
  --color-bg-yellow: rgb(251, 243, 219) !important;
  --color-bg-green: rgb(221, 237, 234) !important;
  --color-bg-blue: rgb(221, 235, 241) !important;
  --color-bg-purple: rgb(234, 228, 242) !important;
  --color-bg-pink: rgb(244, 223, 235) !important;
  --color-bg-red: rgb(251, 228, 228) !important;
  --color-bg-gray-light: rgba(235, 236, 237, 0.8) !important;
  --color-bg-brown-light: rgba(233, 229, 227, 0.3) !important;
  --color-bg-orange-light: rgba(250, 235, 221, 0.3) !important;
  --color-bg-yellow-light: rgba(251, 243, 219, 0.3) !important;
  --color-bg-green-light: rgba(221, 237, 234, 0.3) !important;
  --color-bg-blue-light: rgba(221, 235, 241, 0.3) !important;
  --color-bg-purple-light: rgba(234, 228, 242, 0.3) !important;
  --color-bg-pink-light: rgba(244, 223, 235, 0.3) !important;
  --color-bg-red-light: rgba(251, 228, 228, 0.3) !important;
  --color-pill-default: rgba(206, 205, 202, 0.5) !important;
  --color-pill-gray: rgba(155, 154, 151, 0.4) !important;
  --color-pill-brown: rgba(140, 46, 0, 0.2) !important;
  --color-pill-orange: rgba(245, 93, 0, 0.2) !important;
  --color-pill-yellow: rgba(233, 168, 0, 0.2) !important;
  --color-pill-green: rgba(0, 135, 107, 0.2) !important;
  --color-pill-blue: rgba(0, 120, 223, 0.2) !important;
  --color-pill-purple: rgba(103, 36, 222, 0.2) !important;
  --color-pill-pink: rgba(221, 0, 129, 0.2) !important;
  --color-pill-red: rgba(255, 0, 26, 0.2) !important;
  --color-ui-hover-bg: rgba(55, 53, 47, 0.08) !important;
  --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03) !important;
  --color-card-bg: rgb(255, 255, 255) !important;
  --color-accent-bg: rgb(46, 170, 220) !important;
  --color-border-default: rgba(235, 236, 237, 0.8) !important;
  --color-border-dark: rgba(55, 53, 47, 0.16) !important;
  --column-spacing: 46px !important;
  --collection-card-cover-size-small: 172px !important;
  --collection-card-cover-size-medium: 260px !important;
  --collection-card-cover-size-large: 320px !important;
  --navHeight: 80px;
  --button-radius: 20px;
  --button-color: #159393;
  --box-radius: 30px;
  --contentMaxWidth: 1200px;
  --defaultOuterPadding: calc(env(safe-area-inset-left) + 96px);
  --color-nav-bg: rgba(20, 20, 20, .9);
  --color-highlight-default: #24AFFF;
  --title-font-family: "Montserrat", sans-serif;
  --boxshadow-default: 0px 3px 25px rgba(0,0,0,.2);
  --boxshadow-heavy: 0px 5px 35px rgba(0,0,0,.4);
  --text-shadow-default: 0px 3px 25px rgba(24, 15, 15, 1);
  --padding-safe-area-left: calc(env(safe-area-inset-left) + 96px);
  --padding-safe-area-right: calc(env(safe-area-inset-right) + 96px);
}

::-moz-selection {
  background: var(--color-highlight-default) !important;
  opacity: 0.3 !important;
}

::selection {
  background: var(--color-highlight-default) !important;
  opacity: 0.3 !important;
}

html, html .notion-semantic-string, body, body .notion-semantic-string {
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(to left bottom, #d6f7ff, white) !important;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

h1 .notion-semantic-string, h2 .notion-semantic-string, h3 .notion-semantic-string, h4 .notion-semantic-string, h5 .notion-semantic-string, .notion-heading .notion-semantic-string {
  font-family: var(--title-font-family);
  font-weight: 300;
  line-height: 0.8em !important;
}
h1 .notion-semantic-string strong, h2 .notion-semantic-string strong, h3 .notion-semantic-string strong, h4 .notion-semantic-string strong, h5 .notion-semantic-string strong, .notion-heading .notion-semantic-string strong {
  text-transform: uppercase;
}
h1 .notion-semantic-string em, h2 .notion-semantic-string em, h3 .notion-semantic-string em, h4 .notion-semantic-string em, h5 .notion-semantic-string em, .notion-heading .notion-semantic-string em {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
}

h1 .notion-semantic-string {
  font-weight: 700 !important;
  font-size: 1.5em;
}

h3 .notion-semantic-string {
  text-transform: uppercase;
}

#page-index .notion-header {
  display: none;
}

/* Navbar */
.notion-navbar {
  display: none !important;
}

.n-navbar {
  --padding-LR: 20px;
  --padding-TB: 10px;
  --screenMargin: 20px;
  display: block;
  padding-left: var(--padding-safe-area-left);
  padding-right: var(--padding-safe-area-right);
  width: 100%;
  height: calc(var(--navHeight) + var(--screenMargin));
  position: fixed;
  top: calc(0px + env(safe-area-inset-top));
  left: 0px;
  box-sizing: border-box;
  z-index: 1000;
  padding-top: var(--screenMargin);
}
.n-navbar .n-navbar__content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--padding-TB) var(--padding-LR);
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(25px) brightness(150%);
  -webkit-backdrop-filter: blur(25px);
  border-radius: calc(var(--box-radius) * 2);
  border: solid 2px rgba(255, 255, 255, 0.3);
  box-shadow: var(--boxshadow-heavy);
}
.n-navbar .n-navbar__divider {
  flex-grow: 2;
}
.n-navbar .notion-navbar__search {
  position: unset !important;
  top: unset;
  bottom: unset;
  z-index: 2 !important;
  cursor: default;
}
.n-navbar .notion-navbar__search:hover svg {
  transform: scale(1.1);
}
.n-navbar .n-navbar__siteinfo {
  display: flex;
  flex-flow: row;
}
.n-navbar .n-navbar__siteinfo img {
  height: calc(var(--navHeight) - var(--padding-LR));
  max-height: var(--navHeight);
  /*min-height: var(--navHeight);
  max-width: var(--navHeight);
  object-fit: cover !important;
  object-position: 0px 0px !important;*/
}
.n-navbar .n-navbar__navlinks, .n-navbar .n-navbar__herolinks {
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none !important;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.n-navbar .n-navbar__navlinks li a {
  padding: 8px 15px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: calc(var(--button-radius) / 2);
  transition: all 0.2s ease-in-out;
  color: black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.n-navbar .n-navbar__navlinks li a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--color-highlight-default);
  box-shadow: var(--boxshadow-default);
  transform: scale(1.1);
}
.n-navbar .n-navbar__herolinks {
  margin-left: 10px;
}
.n-navbar .n-navbar__herolinks li a {
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: var(--button-color);
  border: solid 2px white;
  box-shadow: var(--boxshadow-default);
  border-radius: calc(var(--button-radius));
  color: var(--color-text-default-ondark);
  font-weight: bold;
  letter-spacing: 2px;
}

/* Collections */
.notion-collection > div:first-child {
  display: none;
}
.notion-collection .notion-collection-gallery {
  border-top: none;
  padding-top: 0px;
}
.notion-collection .notion-collection-gallery .notion-collection-card {
  border-radius: var(--box-radius);
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  background: linear-gradient(black 0%, #d6f7ff 100%);
  opacity: 1 !important;
  border: solid 2px white;
}
.notion-collection .notion-collection-gallery .notion-collection-card:hover .notion-collection-card__cover img {
  transform: scale(1.05);
  opacity: 0.8;
  filter: brightness(100%);
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-collection-card__cover {
  height: 100%;
  max-height: unset !important;
  min-height: unset !important;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  border-radius: 0px;
  border: none !important;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-collection-card__cover div {
  height: inherit;
  max-height: inherit;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-collection-card__cover img {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  filter: brightness(80%);
}
.notion-collection .notion-collection-gallery .notion-collection-card a.notion-link {
  border-radius: inherit;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-property__title {
  position: relative;
  z-index: 2;
  display: block;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-property__title .notion-semantic-string {
  overflow: visible !important;
  color: var(--color-text-default-ondark);
  text-shadow: var(--text-shadow-default);
  font-weight: bold;
  display: block;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-property__title .notion-property__title__icon-wrapper {
  display: block;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-property__title .notion-property__title__icon-wrapper picture {
  height: 40px !important;
  width: 40px !important;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-property__title .notion-property__title__icon-wrapper .notion-icon.text {
  max-height: 20px !important;
  max-width: 20px !important;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-collection-card__content {
  position: relative;
  z-index: 2;
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-collection-card__content .notion-semantic-string {
  overflow: visible !important;
  opacity: 0.9;
  text-shadow: var(--text-shadow-default);
}
.notion-collection .notion-collection-gallery .notion-collection-card .notion-collection-card__content .notion-semantic-string span {
  color: var(--color-text-default-ondark);
}
.notion-collection .notion-collection-gallery.small .notion-collection-card {
  border-radius: calc(var(--box-radius)/2);
}
.notion-collection .notion-collection-gallery.small .notion-property__title .notion-semantic-string {
  font-size: 1.2em;
}
.notion-collection .notion-collection-gallery.medium .notion-property__title .notion-semantic-string {
  font-size: 2em;
}
.notion-collection .notion-collection-gallery .notion-property__title .notion-semantic-string {
  font-size: 2em;
}

article.notion-root > .notion-collection:first-child, .notion-collection.hero {
  width: 100%;
  align-self: center;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery, .notion-collection.hero .notion-collection-gallery {
  grid-template-rows: 45vw auto !important;
  grid-template-columns: repeat(4, 1fr) !important;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card, .notion-collection.hero .notion-collection-gallery .notion-collection-card {
  height: 15vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card:nth-child(n+6), .notion-collection.hero .notion-collection-gallery .notion-collection-card:nth-child(n+6) {
  display: none !important;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card .notion-semantic-string, .notion-collection.hero .notion-collection-gallery .notion-collection-card .notion-semantic-string {
  color: var(--color-text-default-ondark);
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card .notion-property__title, .notion-collection.hero .notion-collection-gallery .notion-collection-card .notion-property__title {
  position: relative;
  z-index: 2;
  margin: 0px;
  padding: 0px;
  text-shadow: var(--text-shadow-default);
  overflow: auto;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card .notion-property__title .notion-semantic-string, .notion-collection.hero .notion-collection-gallery .notion-collection-card .notion-property__title .notion-semantic-string {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 2vw !important;
  padding: 1vw 2vw;
  white-space: pre-wrap !important;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card .notion-property__title .notion-icon.notion-icon__page, .notion-collection.hero .notion-collection-gallery .notion-collection-card .notion-property__title .notion-icon.notion-icon__page {
  display: none;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card .notion-collection-card__cover div img, .notion-collection.hero .notion-collection-gallery .notion-collection-card .notion-collection-card__cover div img {
  opacity: 0.7;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child {
  justify-self: center;
  align-self: center;
  grid-column: 1/-1;
  height: 100%;
  border-top: none !important;
  --newRadius: calc(var(--box-radius) * 2);
  border-radius: 0px 0px var(--newRadius) var(--newRadius) !important;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title {
  margin: 20px 40px;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title .notion-semantic-string, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title .notion-semantic-string {
  font-size: 4em !important;
  line-height: 1.2em;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-collection-card__cover div img, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-collection-card__cover div img {
  opacity: 1;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-collection-card__content, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-collection-card__content {
  position: relative;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-collection-card__property, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-collection-card__property {
  min-height: unset !important;
}
article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-property.notion-property__text.property-546e703b, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-property.notion-property__text.property-546e703b {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* Callouts */
.notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light) {
  border-radius: var(--button-radius) !important;
  width: auto !important;
  position: relative;
  padding: 0px !important;
  display: block !important;
  box-shadow: var(--boxshadow-default);
  background-color: var(--button-color);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  margin: 15px auto 5px 0px !important;
  --iconPadding: 15px;
  --paddingHeight: 10px;
}
.notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light).border {
  border: solid 3px white !important;
}
.notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light):hover {
  transform: scale(1.02);
}
.notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light) .notion-callout__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: var(--paddingHeight) var(--iconPadding);
  z-index: 1;
}
.notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light) .notion-callout__content {
  margin: 0px !important;
  position: relative;
  z-index: 2;
}
.notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light) .notion-callout__content .notion-semantic-string span, .notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light) .notion-callout__content .notion-semantic-string span a {
  display: block;
  border: none;
  color: var(--color-text-default-ondark);
  opacity: 1;
  text-transform: uppercase;
  font-weight: bold;
}
.notion-callout:not(.bg-gray-light):not(.bg-brown-light):not(.bg-orange-light):not(.bg-yellow-light):not(.bg-green-light):not(.bg-blue-light):not(.bg-purple-light):not(.bg-pink-light):not(.bg-red-light) .notion-callout__content .notion-semantic-string span a {
  padding: var(--paddingHeight) 30px;
  padding-left: calc((var(--iconPadding) * 2) + 1.3em);
  border-radius: var(--button-radius);
}

.notion-callout.bg-gray-light,
.notion-callout.bg-brown-light,
.notion-callout.bg-orange-light,
.notion-callout.bg-yellow-light,
.notion-callout.bg-green-light,
.notion-callout.bg-blue-light,
.notion-callout.bg-purple-light,
.notion-callout.bg-pink-light,
.notion-callout.bg-red-light {
  position: relative;
  padding: 0px;
  border-radius: var(--box-radius);
  box-shadow: var(--boxshadow-default);
  border: solid 3px white !important;
  --imageFilter: brightness(70%) contrast(80%);
  --imageOpacity: .8;
}
.notion-callout.bg-gray-light > .notion-callout__icon,
.notion-callout.bg-brown-light > .notion-callout__icon,
.notion-callout.bg-orange-light > .notion-callout__icon,
.notion-callout.bg-yellow-light > .notion-callout__icon,
.notion-callout.bg-green-light > .notion-callout__icon,
.notion-callout.bg-blue-light > .notion-callout__icon,
.notion-callout.bg-purple-light > .notion-callout__icon,
.notion-callout.bg-pink-light > .notion-callout__icon,
.notion-callout.bg-red-light > .notion-callout__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.notion-callout.bg-gray-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-brown-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-orange-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-yellow-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-green-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-blue-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-purple-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-pink-light > .notion-callout__icon .notion-icon.text,
.notion-callout.bg-red-light > .notion-callout__icon .notion-icon.text {
  display: none;
}
.notion-callout.bg-gray-light > .notion-callout__icon > div,
.notion-callout.bg-brown-light > .notion-callout__icon > div,
.notion-callout.bg-orange-light > .notion-callout__icon > div,
.notion-callout.bg-yellow-light > .notion-callout__icon > div,
.notion-callout.bg-green-light > .notion-callout__icon > div,
.notion-callout.bg-blue-light > .notion-callout__icon > div,
.notion-callout.bg-purple-light > .notion-callout__icon > div,
.notion-callout.bg-pink-light > .notion-callout__icon > div,
.notion-callout.bg-red-light > .notion-callout__icon > div {
  height: 100% !important;
  width: 100% !important;
}
.notion-callout.bg-gray-light > .notion-callout__icon img,
.notion-callout.bg-brown-light > .notion-callout__icon img,
.notion-callout.bg-orange-light > .notion-callout__icon img,
.notion-callout.bg-yellow-light > .notion-callout__icon img,
.notion-callout.bg-green-light > .notion-callout__icon img,
.notion-callout.bg-blue-light > .notion-callout__icon img,
.notion-callout.bg-purple-light > .notion-callout__icon img,
.notion-callout.bg-pink-light > .notion-callout__icon img,
.notion-callout.bg-red-light > .notion-callout__icon img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  opacity: var(--imageOpacity);
  filter: var(--imageFilter);
}
.notion-callout.bg-gray-light > .notion-callout__content,
.notion-callout.bg-brown-light > .notion-callout__content,
.notion-callout.bg-orange-light > .notion-callout__content,
.notion-callout.bg-yellow-light > .notion-callout__content,
.notion-callout.bg-green-light > .notion-callout__content,
.notion-callout.bg-blue-light > .notion-callout__content,
.notion-callout.bg-purple-light > .notion-callout__content,
.notion-callout.bg-pink-light > .notion-callout__content,
.notion-callout.bg-red-light > .notion-callout__content {
  position: relative;
  margin: 0px;
  padding: 20px;
  width: 100%;
  z-index: 3;
}
.notion-callout.bg-gray-light > .notion-callout__content > h1, .notion-callout.bg-gray-light > .notion-callout__content > div,
.notion-callout.bg-brown-light > .notion-callout__content > h1,
.notion-callout.bg-brown-light > .notion-callout__content > div,
.notion-callout.bg-orange-light > .notion-callout__content > h1,
.notion-callout.bg-orange-light > .notion-callout__content > div,
.notion-callout.bg-yellow-light > .notion-callout__content > h1,
.notion-callout.bg-yellow-light > .notion-callout__content > div,
.notion-callout.bg-green-light > .notion-callout__content > h1,
.notion-callout.bg-green-light > .notion-callout__content > div,
.notion-callout.bg-blue-light > .notion-callout__content > h1,
.notion-callout.bg-blue-light > .notion-callout__content > div,
.notion-callout.bg-purple-light > .notion-callout__content > h1,
.notion-callout.bg-purple-light > .notion-callout__content > div,
.notion-callout.bg-pink-light > .notion-callout__content > h1,
.notion-callout.bg-pink-light > .notion-callout__content > div,
.notion-callout.bg-red-light > .notion-callout__content > h1,
.notion-callout.bg-red-light > .notion-callout__content > div {
  margin: auto !important;
}
.notion-callout.bg-gray-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-brown-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-orange-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-yellow-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-green-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-blue-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-purple-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-pink-light > .notion-callout__content .notion-semantic-string,
.notion-callout.bg-red-light > .notion-callout__content .notion-semantic-string {
  color: var(--color-text-default-ondark);
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-brown-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-orange-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-green-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-blue-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-purple-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-pink-light > .notion-callout__content > .notion-semantic-string:first-child,
.notion-callout.bg-red-light > .notion-callout__content > .notion-semantic-string:first-child {
  display: none;
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-brown-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-orange-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-green-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-blue-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-purple-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-pink-light > .notion-callout__content > .notion-embed:nth-child(2),
.notion-callout.bg-red-light > .notion-callout__content > .notion-embed:nth-child(2) {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100%;
  width: 100%;
  opacity: var(--imageOpacity);
  filter: var(--imageFilter);
  overflow: hidden;
  z-index: -1;
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-brown-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-orange-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-green-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-blue-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-purple-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-pink-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content,
.notion-callout.bg-red-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content {
  height: 100%;
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-brown-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-orange-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-green-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-blue-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-purple-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-pink-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div,
.notion-callout.bg-red-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content > div {
  padding-bottom: 0px !important;
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-brown-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-orange-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-green-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-blue-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-purple-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-pink-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe,
.notion-callout.bg-red-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe {
  border-radius: 0px;
  height: calc(100% + 120px);
  position: relative;
  top: -60px;
  z-index: -1;
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-brown-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-orange-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-green-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-blue-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-purple-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-pink-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before,
.notion-callout.bg-red-light > .notion-callout__content > .notion-embed:nth-child(2) .notion-embed__content iframe:before {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-heading:nth-child(2), .notion-callout.bg-gray-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-brown-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-brown-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-orange-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-orange-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-yellow-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-green-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-green-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-blue-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-blue-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-purple-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-purple-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-pink-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-pink-light > .notion-callout__content .notion-heading:nth-child(3),
.notion-callout.bg-red-light > .notion-callout__content > .notion-heading:nth-child(2),
.notion-callout.bg-red-light > .notion-callout__content .notion-heading:nth-child(3) {
  margin-top: 0px;
}
.notion-callout.bg-gray-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-brown-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-orange-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-yellow-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-green-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-blue-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-purple-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-pink-light > .notion-callout__content > .notion-callout,
.notion-callout.bg-red-light > .notion-callout__content > .notion-callout {
  border: solid 1px red !important;
  margin: auto !important;
}

/* Page Content */
.super-content.max-width {
  max-width: var(--contentMaxWidth) !important;
}

#__next > div:not(#page-index) .super-content:not(.max-width) {
  background-color: red;
}

.notion-header {
  padding-left: var(--padding-safe-area-left);
  padding-right: var(--padding-safe-area-right);
  position: relative;
}
.notion-header .notion-header__cover {
  max-height: unset !important;
}
.notion-header .notion-header__cover.no-cover {
  height: calc(var(--navHeight) + 20px) !important;
}
.notion-header .notion-header__cover.has-cover {
  height: 45vw !important;
  --newRadius: calc(var(--box-radius) * 2);
  border-radius: 0px 0px var(--newRadius) var(--newRadius) !important;
}
.notion-header .notion-header__content .notion-header__title {
  font-size: 58px !important;
  font-weight: 100 !important;
  text-transform: uppercase;
  font-family: "Montserrat Light", sans-serif;
  line-height: 1.1em !important;
}
.notion-header .notion-header__content.has-cover.no-icon {
  max-width: unset !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  padding-left: calc(var(--padding-safe-area-left) + 50px);
  padding-right: calc(var(--padding-safe-area-right) + 50px);
  padding-bottom: 20px;
  display: block;
}
.notion-header .notion-header__content.has-cover.no-icon .notion-header__title {
  color: var(--color-text-default-ondark);
  text-shadow: var(--text-shadow-default);
}

/* Embeds */
.notion-embed .notion-embed__content iframe {
  border-radius: 20px;
  box-shadow: var(--boxshadow-default);
  background-color: transparent !important;
}

/* Divider */
.notion-divider {
  border-bottom: none !important;
}

/* Links, Pages, Etc */
.notion-root > .notion-link.notion-page {
  width: auto;
  min-width: 100px;
}
.notion-root > .notion-link.notion-page > div {
  padding: 10px 20px;
  border-radius: var(--button-radius);
  border: solid 3px white;
  background-color: var(--button-color);
  box-shadow: var(--boxshadow-default);
}
.notion-root > .notion-link.notion-page > div .notion-page__title {
  overflow: auto;
  text-overflow: unset;
}
.notion-root > .notion-link.notion-page > div .notion-semantic-string {
  color: var(--color-text-default-ondark);
  white-space: pre-wrap;
}

@media (max-width: 546px) {
  :root {
    --navHeight: 70px;
    --box-radius: 20px;
    --padding-safe-area-left: calc(env(safe-area-inset-left) + 24px);
    --padding-safe-area-right: calc(env(safe-area-inset-right) + 24px);
  }

  /* Navbar */
  .n-navbar {
    --padding-LR: 10px;
    top: unset;
    bottom: calc(0px + env(safe-area-inset-bottom));
    padding-top: unset;
    padding-bottom: var(--screenMargin);
  }
  .n-navbar .n-navbar__content {
    flex-wrap: wrap !important;
  }
  .n-navbar .n-navbar__siteinfo img {
    width: calc(var(--navHeight) - var(--padding-LR));
    -o-object-position: left center;
       object-position: left center;
  }
  .n-navbar .n-navbar__navlinks {
    order: 10;
    width: 100%;
  }

  /* Collections */
  article.notion-root > .notion-collection:first-child, .notion-collection.hero {
    width: 100vw;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery, .notion-collection.hero .notion-collection-gallery {
    grid-template-rows: 45vh auto !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card, .notion-collection.hero .notion-collection-gallery .notion-collection-card {
    height: 15vh;
    width: calc(100vw - var(--padding-safe-area-left) - var(--padding-safe-area-right));
    justify-self: center;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card .notion-property__title .notion-semantic-string, .notion-collection.hero .notion-collection-gallery .notion-collection-card .notion-property__title .notion-semantic-string {
    font-size: 3vh !important;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child {
    width: 100vw;
    align-self: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title {
    margin: 20px 10px;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title .notion-semantic-string, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title .notion-semantic-string {
    font-size: 3em !important;
  }
}/*# sourceMappingURL=sitestyle-block.css.map */