:root {
  --color-text-default: rgb(55, 53, 47) !important;
  --color-text-default-light: rgba(55, 53, 47, 0.6) !important;
  --color-text-default-ondark: white !important;
  --color-text-gray: rgb(155, 154, 151) !important;
  --color-text-brown: rgb(100, 71, 58) !important;
  --color-text-orange: rgb(217, 115, 13) !important;
  --color-text-yellow: rgb(223, 171, 1) !important;
  --color-text-green: rgb(15, 123, 108) !important;
  --color-text-blue: rgb(11, 110, 153) !important;
  --color-text-purple: rgb(105, 64, 165) !important;
  --color-text-pink: rgb(173, 26, 114) !important;
  --color-text-red: rgb(224, 62, 62) !important;
  --color-bg-default: rgb(255, 255, 255) !important;
  --color-bg-gray: rgb(235, 236, 237) !important;
  --color-bg-brown: rgb(233, 229, 227) !important;
  --color-bg-orange: rgb(250, 235, 221) !important;
  --color-bg-yellow: rgb(251, 243, 219) !important;
  --color-bg-green: rgb(221, 237, 234) !important;
  --color-bg-blue: rgb(221, 235, 241) !important;
  --color-bg-purple: rgb(234, 228, 242) !important;
  --color-bg-pink: rgb(244, 223, 235) !important;
  --color-bg-red: rgb(251, 228, 228) !important;
  --color-bg-gray-light: rgba(235, 236, 237, 0.8) !important;
  --color-bg-brown-light: rgba(233, 229, 227, 0.3) !important;
  --color-bg-orange-light: rgba(250, 235, 221, 0.3) !important;
  --color-bg-yellow-light: rgba(251, 243, 219, 0.3) !important;
  --color-bg-green-light: rgba(221, 237, 234, 0.3) !important;
  --color-bg-blue-light: rgba(221, 235, 241, 0.3) !important;
  --color-bg-purple-light: rgba(234, 228, 242, 0.3) !important;
  --color-bg-pink-light: rgba(244, 223, 235, 0.3) !important;
  --color-bg-red-light: rgba(251, 228, 228, 0.3) !important;
  --color-pill-default: rgba(206, 205, 202, 0.5) !important;
  --color-pill-gray: rgba(155, 154, 151, 0.4) !important;
  --color-pill-brown: rgba(140, 46, 0, 0.2) !important;
  --color-pill-orange: rgba(245, 93, 0, 0.2) !important;
  --color-pill-yellow: rgba(233, 168, 0, 0.2) !important;
  --color-pill-green: rgba(0, 135, 107, 0.2) !important;
  --color-pill-blue: rgba(0, 120, 223, 0.2) !important;
  --color-pill-purple: rgba(103, 36, 222, 0.2) !important;
  --color-pill-pink: rgba(221, 0, 129, 0.2) !important;
  --color-pill-red: rgba(255, 0, 26, 0.2) !important;
  --color-ui-hover-bg: rgba(55, 53, 47, 0.08) !important;
  --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03) !important;
  --color-card-bg: rgb(255, 255, 255) !important;
  --color-accent-bg: rgb(46, 170, 220) !important;
  --color-border-default: rgba(235, 236, 237, 0.8) !important;
  --color-border-dark: rgba(55, 53, 47, 0.16) !important;
  --column-spacing: 46px !important;
  --collection-card-cover-size-small: 172px !important;
  --collection-card-cover-size-medium: 260px !important;
  --collection-card-cover-size-large: 320px !important;
  --navHeight: 80px;
  --button-radius: 20px;
  --button-color: #159393;
  --box-radius: 30px;
  --contentMaxWidth: 1200px;
  --defaultOuterPadding: calc(env(safe-area-inset-left) + 96px);
  --color-nav-bg: rgba(20, 20, 20, .9);
  --color-highlight-default: #24AFFF;
  --title-font-family: "Montserrat", sans-serif;
  --boxshadow-default: 0px 3px 25px rgba(0,0,0,.2);
  --boxshadow-heavy: 0px 5px 35px rgba(0,0,0,.4);
  --text-shadow-default: 0px 3px 25px rgba(24, 15, 15, 1);
  --text-shadow-heavy: 0px 3px 25px rgba(0, 0, 0, 1);
  --padding-safe-area-left: calc(env(safe-area-inset-left) + 96px);
  --padding-safe-area-right: calc(env(safe-area-inset-right) + 96px);
  --page-Header-Width: 40%;
  --page-Content-Width: 60&;
  --mage-Content-Max-Width: unset;
}

::-moz-selection {
  background: var(--color-highlight-default) !important;
  opacity: 0.3 !important;
}

::selection {
  background: var(--color-highlight-default) !important;
  opacity: 0.3 !important;
}

html, body {
  min-height: 100%;
}
html, html .notion-semantic-string, body, body .notion-semantic-string {
  font-family: "Open Sans", sans-serif;
}

.notion-toggle.bg-purple {
  display: none;
}

.notion-semantic-string span {
  overflow-x: visible;
}

/*html.unloaded, html {
    opacity: 0;
}
html.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}*/
body {
  background: linear-gradient(180deg, #d6f7ff, white) !important;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
body.unloaded > * {
  opacity: 0;
}
body.loaded {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

h1 .notion-semantic-string, h2 .notion-semantic-string, h3 .notion-semantic-string, h4 .notion-semantic-string, h5 .notion-semantic-string, .notion-heading .notion-semantic-string {
  font-family: var(--title-font-family);
  font-weight: 300;
  line-height: 0.8em !important;
  word-break: normal;
}
h1 .notion-semantic-string strong, h2 .notion-semantic-string strong, h3 .notion-semantic-string strong, h4 .notion-semantic-string strong, h5 .notion-semantic-string strong, .notion-heading .notion-semantic-string strong {
  text-align: center;
}
h1 .notion-semantic-string em, h2 .notion-semantic-string em, h3 .notion-semantic-string em, h4 .notion-semantic-string em, h5 .notion-semantic-string em, .notion-heading .notion-semantic-string em {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
}

h1 .notion-semantic-string {
  font-weight: 700 !important;
  font-size: 1.5em;
}

h2 .notion-semantic-string {
  font-weight: 700 !important;
}

h3 .notion-semantic-string {
  text-transform: uppercase;
}

#page-index .notion-header {
  display: none;
}

.bg-pink {
  background-color: transparent !important;
  text-align: center;
}

.notion-divider {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  border-color: transparent !important;
  border-width: 0px !important;
  opacity: 0;
}

/* Navbar */
.notion-navbar {
  display: none !important;
}

.n-navbar, .super-navbar {
  --padding-LR: 20px;
  --padding-TB: 10px;
  --screenMargin: 20px;
  display: block;
  padding-left: var(--padding-safe-area-left) !important;
  padding-right: var(--padding-safe-area-right) !important;
  width: 100% !important;
  height: calc(var(--navHeight) + var(--screenMargin)) !important;
  position: fixed !important;
  top: calc(0px + env(safe-area-inset-top));
  left: 0px;
  box-sizing: border-box;
  z-index: 1000;
  padding-top: var(--screenMargin);
  background-color: transparent !important;
}
.n-navbar a, .n-navbar a div, .n-navbar a svg, .super-navbar a, .super-navbar a div, .super-navbar a svg {
  cursor: default;
}
.n-navbar .n-navbar__content, .n-navbar .super-navbar__content, .super-navbar .n-navbar__content, .super-navbar .super-navbar__content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--padding-TB) 0px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(25px) brightness(150%);
  -webkit-backdrop-filter: blur(25px);
  border-radius: calc(var(--box-radius) * 2);
  border: solid 2px rgba(255, 255, 255, 0.3);
  box-shadow: var(--boxshadow-heavy);
}
.n-navbar .n-navbar__divider, .super-navbar .n-navbar__divider {
  flex-grow: 2;
}
.n-navbar .notion-navbar__search, .super-navbar .notion-navbar__search {
  position: unset !important;
  top: unset;
  bottom: unset;
  z-index: 2 !important;
  cursor: default;
}
.n-navbar .notion-navbar__search:hover svg, .super-navbar .notion-navbar__search:hover svg {
  transform: scale(1.1);
}
.n-navbar .super-navbar__logo-image, .super-navbar .super-navbar__logo-image {
  width: 100% !important;
  height: calc(var(--navHeight) - var(--padding-LR)) !important;
  max-height: var(--navHeight) !important;
}
.n-navbar .n-navbar__siteinfo, .super-navbar .n-navbar__siteinfo {
  display: flex;
  flex-flow: row;
}
.n-navbar .n-navbar__siteinfo img, .super-navbar .n-navbar__siteinfo img {
  height: calc(var(--navHeight) - var(--padding-LR));
  max-height: var(--navHeight);
  /*min-height: var(--navHeight);
  max-width: var(--navHeight);
  object-fit: cover !important;
  object-position: 0px 0px !important;*/
}
.n-navbar .n-navbar__navlinks, .n-navbar .n-navbar__herolinks, .super-navbar .n-navbar__navlinks, .super-navbar .n-navbar__herolinks {
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none !important;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.n-navbar .n-navbar__navlinks li a, .n-navbar .super-navbar__item-list a, .super-navbar .n-navbar__navlinks li a, .super-navbar .super-navbar__item-list a {
  padding: 8px 15px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: calc(var(--button-radius) / 2);
  transition: all 0.2s ease-in-out;
  color: black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.n-navbar .n-navbar__navlinks li a:hover, .n-navbar .super-navbar__item-list a:hover, .super-navbar .n-navbar__navlinks li a:hover, .super-navbar .super-navbar__item-list a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--color-highlight-default);
  box-shadow: var(--boxshadow-default);
  transform: scale(1.1);
}
.n-navbar .super-navbar__item-list, .super-navbar .super-navbar__item-list {
  overflow: visible;
}
.n-navbar .n-navbar__herolinks li a, .n-navbar .super-navbar__actions .notion-link div, .super-navbar .n-navbar__herolinks li a, .super-navbar .super-navbar__actions .notion-link div {
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: transparent !important;
  backdrop-filter: brightness(250%) blur(20px);
  -webkit-backdrop-filter: brightness(250%) blur(20px);
  border: solid 3px var(--button-color) !important;
  border-radius: calc(var(--button-radius));
  color: var(--button-color) !important;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 1;
  transition: transform 0.2s ease-in-out;
}
.n-navbar .n-navbar__herolinks li a:hover, .n-navbar .super-navbar__actions .notion-link div:hover, .super-navbar .n-navbar__herolinks li a:hover, .super-navbar .super-navbar__actions .notion-link div:hover {
  transform: scale(1.03);
}
.n-navbar .n-navbar__herolinks li a .notion-link, .n-navbar .super-navbar__actions .notion-link div .notion-link, .super-navbar .n-navbar__herolinks li a .notion-link, .super-navbar .super-navbar__actions .notion-link div .notion-link {
  opacity: 1;
}
.n-navbar .n-navbar__herolinks, .super-navbar .n-navbar__herolinks {
  margin-left: 10px;
}

/* Hero */
.n-callout-hero {
  margin: 0px !important;
  padding: 0px !important;
  width: 100vw;
  align-self: center;
  border: none !important;
}
.n-callout-hero > .notion-callout__content {
  width: 100%;
  padding: 50px 5%;
  margin-top: 0px !important;
}
.n-callout-hero > .notion-callout__content > .notion-semantic-string {
  display: none;
}
.n-callout-hero h1 .notion-semantic-string {
  font-size: 5.8vw;
}
.n-callout-hero > .notion-callout__content .notion-column {
  justify-content: flex-end;
}
.n-callout-hero .notion-callout__bg::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7));
}

.n-callout-children {
  align-items: stretch !important;
}
.n-callout-children .notion-column {
  align-items: stretch;
}
.n-callout-children .notion-column > a > div {
  min-height: 12vw;
  display: flex;
  align-items: flex-end;
}
.n-callout-children .notion-column .notion-picture {
  min-height: 12vw;
}

.n-callout-children .notion-callout:not(.n-cta-button) {
  align-self: stretch;
  border-radius: 70px;
  box-shadow: var(--boxshadow-default);
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__bg::before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
  background-color: white;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: all ease-in-out 0.5s;
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__content {
  padding: 10px;
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__content h1 .notion-semantic-string {
  font-size: 2vw;
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__content > .notion-semantic-string, .n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__icon {
  display: none !important;
}
.n-callout-children .notion-callout:not(.n-cta-button) h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.n-callout-children .notion-callout:not(.n-cta-button):hover {
  transform: scale(1.05);
}
.n-callout-children .notion-callout:not(.n-cta-button):hover .notion-callout__bg::before {
  opacity: 0.1;
}

.n-callout-children .notion-image.page-width {
  border-radius: 70px;
  box-shadow: var(--boxshadow-default);
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.n-callout-children .notion-image.page-width img, .n-callout-children .notion-image.page-width picture, .n-callout-children .notion-image.page-width a {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.5s ease-in-out;
}
.n-callout-children .notion-image.page-width:hover img {
  transform: scale(1.05);
}

.n-callout-children .notion-column > .notion-collection .notion-collection-card {
  width: 100%;
  min-width: unset !important;
}

.n-callout-children .notion-column > .notion-collection .notion-collection-card:not(:first-child) {
  display: none;
}

/* CTA Buttons */
.n-cta-button {
  border: solid 3px white !important;
  border-radius: 20px !important;
  padding: 10px 15px !important;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--button-color);
  text-shadow: none;
  align-content: center;
  justify-content: center;
  box-shadow: var(--boxshadow-default);
  transition: all ease-in-out 0.2s;
}
.n-cta-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 15px var(--button-color);
}
.n-cta-button:hover .notion-callout__content {
  text-decoration: underline;
}
.n-cta-button .notion-callout__icon {
  order: 2;
  text-align: right;
}
.n-cta-button .notion-callout__content {
  margin-left: 0px !important;
  flex-grow: 2;
}
/* Callouts */
.notion-callout {
  position: relative;
}
.notion-callout .notion-callout__content {
  position: relative;
  z-index: 2;
  overflow: visible;
}
.notion-callout .notion-callout__content .notion-heading {
  overflow: visible;
}
.notion-callout.contains-image > .notion-callout__icon {
  display: none;
}

.notion-callout.contains-image {
  color: white;
  text-shadow: var(--text-shadow-heavy);
}

@-webkit-keyframes bgImageIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgImageIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.notion-callout__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  padding: 0px;
  margin: 0px;
  background-color: black;
}
.notion-callout__bg .notion-callout__bg__image-body {
  -webkit-animation: bgImageIn 1.5s ease-in-out;
          animation: bgImageIn 1.5s ease-in-out;
}
.notion-callout__bg .notion-image {
  margin: 0px;
}
.notion-callout__bg div, .notion-callout__bg img, .notion-callout__bg span {
  height: 100% !important;
  width: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.notion-collection > div:first-child {
  display: none;
}

.notion-collection .notion-collection-gallery {
  border-top: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

@media (max-width: 546px) {
  :root {
    --navHeight: 70px;
    --box-radius: 20px;
    --padding-safe-area-left: calc(env(safe-area-inset-left) + 24px);
    --padding-safe-area-right: calc(env(safe-area-inset-right) + 24px);
  }

  /* Navbar */
  .n-navbar, .super-navbar {
    --padding-LR: 10px;
    top: unset !important;
    bottom: calc(0px + env(safe-area-inset-bottom)) !important;
    padding-top: unset !important;
    padding-bottom: var(--screenMargin) !important;
  }
  .n-navbar .n-navbar__content, .super-navbar .n-navbar__content {
    flex-wrap: wrap !important;
  }
  .n-navbar .n-navbar__siteinfo img, .n-navbar .super-navbar__logo-image img, .super-navbar .n-navbar__siteinfo img, .super-navbar .super-navbar__logo-image img {
    width: calc(var(--navHeight) - var(--padding-LR)) !important;
    -o-object-position: left center;
       object-position: left center;
  }
  .n-navbar .n-navbar__navlinks, .super-navbar .n-navbar__navlinks {
    order: 10;
    width: 100%;
  }
  .n-navbar .super-navbar__menu-wrapper, .super-navbar .super-navbar__menu-wrapper {
    align-items: flex-end;
  }

  /* Collections */
  article.notion-root > .notion-collection:first-child, .notion-collection.hero {
    width: 100vw;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery, .notion-collection.hero .notion-collection-gallery {
    grid-template-rows: 45vh auto !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card, .notion-collection.hero .notion-collection-gallery .notion-collection-card {
    height: 15vh;
    width: calc(100vw - var(--padding-safe-area-left) - var(--padding-safe-area-right));
    justify-self: center;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery .notion-collection-card .notion-property__title .notion-semantic-string, .notion-collection.hero .notion-collection-gallery .notion-collection-card .notion-property__title .notion-semantic-string {
    font-size: 3vh !important;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child {
    width: 100vw;
    align-self: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title {
    margin: 20px 10px;
  }
  article.notion-root > .notion-collection:first-child .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title .notion-semantic-string, .notion-collection.hero .notion-collection-gallery > .notion-collection-card:first-child .notion-property__title .notion-semantic-string {
    font-size: 3em !important;
  }
}
#block-5658a1419424488386e80e82704d2687, #block-f41c53abb1154e169eed9e02afcfb795 {
  text-shadow: 0px 3px 25px rgba(255, 255, 255, 0.8);
  color: white;
}/*# sourceMappingURL=sitestyle-block.css.map */