/*
 _______ _______ _______ _______ __   __ 
|       |   _   |       |       |  | |  |
|_     _|  |_|  |    ___|    ___|  |_|  |
  |   | |       |   |___|   |___|       |
  |   | |       |    ___|    ___|_     _|
  |   | |   _   |   |   |   |     |   |  
  |___| |__| |__|___|   |___|     |___|  

  by Nysics Media

  v. 1.0.1
  2021-11-22
*/
:root {
  --color-text-default: rgb(55, 53, 47) !important;
  --color-text-default-light: rgba(55, 53, 47, 0.6) !important;
  --color-text-default-ondark: white !important;
  --color-text-gray: rgb(155, 154, 151) !important;
  --color-text-brown: rgb(100, 71, 58) !important;
  --color-text-orange: rgb(217, 115, 13) !important;
  --color-text-yellow: rgb(223, 171, 1) !important;
  --color-text-green: rgb(15, 123, 108) !important;
  --color-text-blue: rgb(11, 110, 153) !important;
  --color-text-purple: rgb(105, 64, 165) !important;
  --color-text-pink: rgb(173, 26, 114) !important;
  --color-text-red: rgb(224, 62, 62) !important;
  --color-bg-default: rgb(255, 255, 255) !important;
  --color-bg-gray: rgb(235, 236, 237) !important;
  --color-bg-brown: rgb(233, 229, 227) !important;
  --color-bg-orange: rgb(250, 235, 221) !important;
  --color-bg-yellow: rgb(251, 243, 219) !important;
  --color-bg-green: rgb(221, 237, 234) !important;
  --color-bg-blue: rgb(221, 235, 241) !important;
  --color-bg-purple: rgb(234, 228, 242) !important;
  --color-bg-pink: rgb(244, 223, 235) !important;
  --color-bg-red: rgb(251, 228, 228) !important;
  --color-bg-gray-light: rgba(235, 236, 237, 0.8) !important;
  --color-bg-brown-light: rgba(233, 229, 227, 0.3) !important;
  --color-bg-orange-light: rgba(250, 235, 221, 0.3) !important;
  --color-bg-yellow-light: rgba(251, 243, 219, 0.3) !important;
  --color-bg-green-light: rgba(221, 237, 234, 0.3) !important;
  --color-bg-blue-light: rgba(221, 235, 241, 0.3) !important;
  --color-bg-purple-light: rgba(234, 228, 242, 0.3) !important;
  --color-bg-pink-light: rgba(244, 223, 235, 0.3) !important;
  --color-bg-red-light: rgba(251, 228, 228, 0.3) !important;
  --color-pill-default: rgba(206, 205, 202, 0.5) !important;
  --color-pill-gray: rgba(155, 154, 151, 0.4) !important;
  --color-pill-brown: rgba(140, 46, 0, 0.2) !important;
  --color-pill-orange: rgba(245, 93, 0, 0.2) !important;
  --color-pill-yellow: rgba(233, 168, 0, 0.2) !important;
  --color-pill-green: rgba(0, 135, 107, 0.2) !important;
  --color-pill-blue: rgba(0, 120, 223, 0.2) !important;
  --color-pill-purple: rgba(103, 36, 222, 0.2) !important;
  --color-pill-pink: rgba(221, 0, 129, 0.2) !important;
  --color-pill-red: rgba(255, 0, 26, 0.2) !important;
  --color-ui-hover-bg: rgba(55, 53, 47, 0.08) !important;
  --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03) !important;
  --color-card-bg: rgb(255, 255, 255) !important;
  --color-accent-bg: rgb(46, 170, 220) !important;
  --color-border-default: rgba(235, 236, 237, 0.8) !important;
  --color-border-dark: rgba(55, 53, 47, 0.16) !important;
  --column-spacing: 20px !important;
  --collection-card-cover-size-small: 200px !important;
  --collection-card-cover-size-medium: 280px !important;
  --collection-card-cover-size-large: 350px !important;
  --collection-card-border-radius: 15px;
  --callout-bg-color: var(--color-bg-default);
  --callout-border-radius: 20px;
  --body-background: linear-gradient(180deg, rgba(214,247,255,1), rgba(255,255,255,1));
  --navHeight: 80px;
  --navScreenMargin: 20px;
  --button-radius: 20px;
  --button-color: #159393;
  --box-radius: 30px;
  --contentMaxWidth: 1200px;
  --defaultOuterPadding: calc(env(safe-area-inset-left) + 96px);
  --color-nav-bg: rgba(20, 20, 20, .9);
  --color-highlight-default: #24AFFF;
  --title-font-family: "Montserrat", sans-serif;
  --divider-thickness: 40px;
  --boxshadow-default: 0px 3px 25px rgba(0,0,0,.2);
  --boxshadow-callout: 0px 3px 25px var(--callout-bg-color);
  --boxshadow-heavy: 0px 5px 35px rgba(0,0,0,.4);
  --text-shadow-default: 0px 3px 25px rgba(24, 15, 15, 1);
  --text-shadow-callout: 0px 3px 25px var(--callout-bg-color);
  --text-shadow-heavy: 0px 3px 15px rgba(0, 0, 0, 1), 0px 0px 25px rgba(0, 0, 0, .5);
  --padding-safe-area-top: calc(env(safe-area-inset-top) + var(--navHeight) + var(--navScreenMargin));
  --padding-s-lr: 96px;
  --padding-safe-area-bottom: calc(env(safe-area-inset-bottom));
  --padding-safe-area-left: calc(env(safe-area-inset-left) + var(--padding-s-lr));
  --padding-safe-area-right: calc(env(safe-area-inset-right) + var(--padding-s-lr));
  --padding-fullwidth-lr: 5vw;
  --props-gap: 8px;
  --page-Header-Width: 40%;
  --page-Content-Width: 60%;
  --mage-Content-Max-Width: unset;
  --footer-bg-color: var(--color-bg-default);
  /*--breakpoint-1: max-width: 680px;
  (max-width: 546px)
  (max-width: 450px) {
      (max-width: 860px) {*/
}
@media only screen and (max-width: 1200px) {
  :root {
    --padding-s-lr: 24px;
  }
}
@media only screen and (max-width: 860px) {
  :root {
    --divider-thickness: 20px;
    --padding-safe-area-top: calc(env(safe-area-inset-top) + var(--navScreenMargin));
    --padding-safe-area-bottom: calc(env(safe-area-inset-bottom) + var(--navHeight) + var(--navScreenMargin));
  }
}
@media only screen and (max-width: 546px) {
  :root {
    --padding-s-lr: 15px;
  }
}

::-moz-selection {
  background: var(--color-highlight-default) !important;
  opacity: 0.3 !important;
}

::selection {
  background: var(--color-highlight-default) !important;
  opacity: 0.3 !important;
}

html, body {
  min-height: 100%;
}
html, html .notion-semantic-string, body, body .notion-semantic-string {
  font-family: "Open Sans", sans-serif;
}

.notion-toggle.bg-purple {
  display: none;
}

.notion-semantic-string span {
  overflow-x: visible;
}

/*html.unloaded, html {
    opacity: 0;
}
html.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}*/
body {
  background-color: transparent;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
body.unloaded > * {
  opacity: 0;
}
body.loaded {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
body:before {
  background: var(--body-background) !important;
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1, h2, h3, h4, h5, .notion-heading {
  margin-bottom: 10px !important;
  margin-top: 5px;
}
h1, h1 .notion-semantic-string, h2, h2 .notion-semantic-string, h3, h3 .notion-semantic-string, h4, h4 .notion-semantic-string, h5, h5 .notion-semantic-string, .notion-heading, .notion-heading .notion-semantic-string {
  font-family: var(--title-font-family) !important;
  font-weight: 300;
  line-height: 1em !important;
  word-break: normal;
}
h1 strong, h1 .notion-semantic-string strong, h2 strong, h2 .notion-semantic-string strong, h3 strong, h3 .notion-semantic-string strong, h4 strong, h4 .notion-semantic-string strong, h5 strong, h5 .notion-semantic-string strong, .notion-heading strong, .notion-heading .notion-semantic-string strong {
  text-align: center;
}
h1 em, h1 .notion-semantic-string em, h2 em, h2 .notion-semantic-string em, h3 em, h3 .notion-semantic-string em, h4 em, h4 .notion-semantic-string em, h5 em, h5 .notion-semantic-string em, .notion-heading em, .notion-heading .notion-semantic-string em {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  letter-spacing: 2px;
}

h1 .notion-semantic-string {
  font-weight: 700 !important;
  font-size: 1.5em;
}

h2 .notion-semantic-string {
  font-weight: 700 !important;
}

h3 .notion-semantic-string {
  text-transform: uppercase;
}

/*#page-index .notion-header {
    display: none;
}*/
.notion-callout > .notion-callout__content {
  margin-left: 0px;
}

.bg-pink {
  background-color: transparent !important;
  text-align: center;
}

.notion-divider {
  padding-top: var(--divider-thickness) !important;
  padding-bottom: var(--divider-thickness) !important;
  border-color: transparent !important;
  border-width: 0px !important;
  opacity: 0;
  margin: 0px !important;
}

.notion-header {
  margin-top: calc(var(--padding-safe-area-top) + 20px);
}
.notion-header .notion-header__cover.no-cover {
  display: none;
}
.notion-header .notion-header__cover.has-cover picture, .notion-header .notion-header__cover.has-cover img {
  height: 100% !important;
}
.notion-header .notion-header__content {
  padding-left: var(--padding-safe-area-left);
  padding-right: var(--padding-safe-area-right);
}
.notion-header .notion-header__title-wrapper {
  text-transform: uppercase;
}
.notion-header .notion-header__title-wrapper .notion-header__title {
  font-size: 3rem;
}
.notion-header .notion-header__title-wrapper .notion-header__icon-wrapper {
  position: unset;
}

.super-content {
  padding-left: var(--padding-safe-area-left) !important;
  padding-right: var(--padding-safe-area-right) !important;
  padding-bottom: var(--padding-safe-area-bottom) !important;
}
.super-content .notion-text {
  padding-bottom: 15px;
}

@media only screen and (max-width: 860px) {
  .notion-column-list .notion-column {
    width: 100% !important;
    -webkit-margin-start: 0 !important;
    margin-inline-start: 0 !important;
  }
}

/* Navbar */
.notion-navbar {
  display: none !important;
}

.super-navbar {
  --padding-LR: 20px;
  --padding-TB: 10px;
  display: block;
  padding-left: var(--padding-safe-area-left) !important;
  padding-right: var(--padding-safe-area-right) !important;
  width: 100% !important;
  height: calc(var(--navHeight) + var(--navScreenMargin)) !important;
  position: fixed !important;
  top: calc(0px + env(safe-area-inset-top));
  left: 0px;
  box-sizing: border-box;
  z-index: 1000;
  padding-top: var(--navScreenMargin);
  background-color: transparent !important;
}
@media only screen and (max-width: 860px) {
  .super-navbar {
    top: unset !important;
    bottom: calc(0px + env(safe-area-inset-bottom)) !important;
    padding-top: 0px;
    padding-bottom: var(--navScreenMargin);
  }
}
.super-navbar .super-navbar__menu-wrapper {
  transform-origin: bottom right;
}
.super-navbar .super-navbar__menu-wrapper .super-navbar__menu {
  position: absolute;
  top: unset;
  bottom: calc(var(--navHeight) + var(--navScreenMargin));
}
.super-navbar a, .super-navbar a div, .super-navbar a svg {
  cursor: default;
}
.super-navbar .n-navbar__content, .super-navbar .super-navbar__content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--padding-TB) 0px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(25px) brightness(150%);
  -webkit-backdrop-filter: blur(25px);
  border-radius: calc(var(--box-radius) * 2);
  border: solid 2px rgba(255, 255, 255, 0.3);
  box-shadow: var(--boxshadow-heavy);
}
.super-navbar .n-navbar__divider {
  flex-grow: 2;
}
.super-navbar .notion-navbar__search {
  position: unset !important;
  top: unset;
  bottom: unset;
  z-index: 2 !important;
  cursor: default;
}
.super-navbar .notion-navbar__search:hover svg {
  transform: scale(1.1);
}
.super-navbar .super-navbar__logo-image {
  width: 100% !important;
  height: calc(var(--navHeight) - var(--padding-LR)) !important;
  max-height: var(--navHeight) !important;
}
.super-navbar .n-navbar__siteinfo {
  display: flex;
  flex-flow: row;
}
.super-navbar .n-navbar__siteinfo img {
  height: calc(var(--navHeight) - var(--padding-LR));
  max-height: var(--navHeight);
  /*min-height: var(--navHeight);
  max-width: var(--navHeight);
  object-fit: cover !important;
  object-position: 0px 0px !important;*/
}
.super-navbar .n-navbar__navlinks, .super-navbar .n-navbar__herolinks {
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none !important;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.super-navbar .n-navbar__navlinks li a, .super-navbar .super-navbar__item-list a {
  padding: 8px 15px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: calc(var(--button-radius) / 2);
  transition: all 0.2s ease-in-out;
  color: black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.super-navbar .n-navbar__navlinks li a:hover, .super-navbar .super-navbar__item-list a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--color-highlight-default);
  box-shadow: var(--boxshadow-default);
  transform: scale(1.1);
}
.super-navbar .super-navbar__item-list {
  overflow: visible;
}
.super-navbar .n-navbar__herolinks li a, .super-navbar .super-navbar__actions .notion-link div {
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: transparent !important;
  backdrop-filter: brightness(250%) blur(20px);
  -webkit-backdrop-filter: brightness(250%) blur(20px);
  border: solid 3px var(--button-color) !important;
  border-radius: calc(var(--button-radius));
  color: var(--button-color) !important;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 1;
  transition: transform 0.2s ease-in-out;
}
.super-navbar .n-navbar__herolinks li a:hover, .super-navbar .super-navbar__actions .notion-link div:hover {
  transform: scale(1.03);
}
.super-navbar .n-navbar__herolinks li a .notion-link, .super-navbar .super-navbar__actions .notion-link div .notion-link {
  opacity: 1;
}
.super-navbar .n-navbar__herolinks {
  margin-left: 10px;
}

/* Callouts */
.notion-callout:not(.n-cta-button) {
  --callout-border-radius: 15px;
  --text-shadow-callout: 0px 3px 20px var(--callout-bg-color);
  position: relative;
  border-radius: var(--callout-border-radius);
  padding: 0px;
  margin: 0px;
}
.notion-callout:not(.n-cta-button) > .notion-callout__icon {
  display: none;
}
.notion-callout:not(.n-cta-button) > .notion-callout__content {
  position: relative;
  z-index: 2;
  overflow: visible;
  padding: 10px 20px;
}
.notion-callout:not(.n-cta-button) > .notion-callout__content > .notion-semantic-string {
  display: none;
}
.notion-callout:not(.n-cta-button) > .notion-callout__content .notion-heading {
  overflow: visible;
}
.notion-callout:not(.n-cta-button).contains-image > .notion-callout__icon {
  display: none;
}
.notion-callout:not(.n-cta-button).bg-gray-light {
  --callout-bg-color: var(--color-text-default);
}
.notion-callout:not(.n-cta-button).bg-brown-light {
  --callout-bg-color: var(--color-text-brown);
}
.notion-callout:not(.n-cta-button).bg-orange-light {
  --callout-bg-color: var(--color-text-orange);
}
.notion-callout:not(.n-cta-button).bg-yellow-light {
  --callout-bg-color: var(--color-text-yellow);
}
.notion-callout:not(.n-cta-button).bg-green-light {
  --callout-bg-color: var(--color-text-green);
}
.notion-callout:not(.n-cta-button).bg-blue-light {
  --callout-bg-color: var(--color-text-blue);
}
.notion-callout:not(.n-cta-button).bg-purple-light {
  --callout-bg-color: var(--color-text-purple);
}
.notion-callout:not(.n-cta-button).bg-pink-light {
  --callout-bg-color: var(--color-text-pink);
}
.notion-callout:not(.n-cta-button).bg-red-light {
  --callout-bg-color: var(--color-text-red);
}
.notion-callout:not(.n-cta-button).contains-image {
  color: white;
  text-shadow: var(--text-shadow-callout);
}

/* Hero */
.n-callout-hero {
  margin: 0px !important;
  margin-bottom: 40px !important;
  padding: 0px !important;
  padding-top: var(--padding-safe-area-top) !important;
  width: 100vw;
  align-self: center;
  border: none !important;
  --callout-border-radius: 0px !important;
}
.n-callout-hero.contains-image > .notion-callout__content, .n-callout-hero.contains-embed > .notion-callout__content {
  text-shadow: var(--text-shadow-default), var(--text-shadow-default);
}
.n-callout-hero > .notion-callout__content {
  width: 100%;
  padding: 50px var(--padding-safe-area-left) 50px var(--padding-safe-area-right) !important;
  margin-top: 0px !important;
}
.n-callout-hero > .notion-callout__content > .notion-semantic-string {
  display: none;
}
@media only screen and (max-width: 860px) {
  .n-callout-hero {
    padding-top: 0px !important;
  }
}
.n-callout-hero h1 {
  margin-bottom: 0px !important;
}
.n-callout-hero h1 .notion-semantic-string {
  font-size: 5.2vw;
}
@media only screen and (max-width: 860px) {
  .n-callout-hero h1 .notion-semantic-string {
    font-size: 1.5em;
  }
}
.n-callout-hero > .notion-callout__content .notion-column {
  justify-content: flex-end;
}
.n-callout-hero .notion-text {
  min-height: unset;
}
.n-callout-hero .notion-divider {
  margin-top: 0.8vw !important;
  margin-bottom: 0.8vw !important;
}
@media only screen and (max-width: 860px) {
  .n-callout-hero .notion-divider {
    margin-top: 0.2vw !important;
    margin-bottom: 0.2vw !important;
  }
}
.n-callout-hero .notion-callout__bg::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7));
}

.n-callout-children {
  align-items: stretch !important;
}
.n-callout-children .notion-column {
  align-items: stretch;
}
.n-callout-children .notion-column > a > div {
  min-height: 12vw;
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 860px) {
  .n-callout-children .notion-column > a > div {
    min-height: 120px;
  }
}
.n-callout-children .notion-column .notion-picture {
  min-height: 12vw;
}

.n-callout-children .notion-callout:not(.n-cta-button) {
  --callout-border-radius:3vw;
  align-self: stretch;
  box-shadow: var(--boxshadow-default);
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
  text-shadow: var(--text-shadow-default), var(--text-shadow-default);
}
@media only screen and (max-width: 860px) {
  .n-callout-children .notion-callout:not(.n-cta-button) {
    border-radius: 50px;
  }
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__bg::before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "";
  background-color: white;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: all ease-in-out 0.5s;
  z-index: 2;
  border-radius: calc(var(--callout-border-radius)+2px);
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__content {
  padding: 20px 25px;
  width: 100%;
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__content h1 .notion-semantic-string {
  font-size: 2vw;
  line-height: 0.5 !important;
}
@media only screen and (max-width: 860px) {
  .n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__content h1 .notion-semantic-string {
    font-size: 1.2em;
  }
}
.n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__content > .notion-semantic-string, .n-callout-children .notion-callout:not(.n-cta-button) .notion-callout__icon {
  display: none !important;
}
.n-callout-children .notion-callout:not(.n-cta-button) h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.n-callout-children .notion-callout:not(.n-cta-button):hover {
  transform: scale(1.05);
}
.n-callout-children .notion-callout:not(.n-cta-button):hover .notion-callout__bg::before {
  opacity: 0.1;
}

.n-callout-children .notion-callout__bg .notion-image.page-width {
  border-radius: 70px;
  box-shadow: var(--boxshadow-default);
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.n-callout-children .notion-callout__bg .notion-image.page-width img, .n-callout-children .notion-callout__bg .notion-image.page-width picture, .n-callout-children .notion-callout__bg .notion-image.page-width a {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.5s ease-in-out;
}
.n-callout-children .notion-callout__bg .notion-image.page-width:hover img {
  transform: scale(1.05);
}

.n-callout-children .notion-column > .notion-collection .notion-collection-card {
  width: 100%;
  min-width: unset !important;
}

.n-callout-children .notion-column > .notion-collection .notion-collection-card:not(:first-child) {
  display: none;
}

/* CTA Buttons */
.n-cta-button {
  border-radius: var(--button-radius) !important;
  padding: 10px 15px !important;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: none;
  align-content: center;
  justify-content: center;
  box-shadow: var(--boxshadow-default);
  transition: all ease-in-out 0.2s;
}
.n-cta-button.bg-gray-light {
  --button-color: var(--color-text-gray);
}
.n-cta-button.bg-brown-light {
  --button-color: var(--color-text-brown);
}
.n-cta-button.bg-orange-light {
  --button-color: var(--color-text-orange);
}
.n-cta-button.bg-yellow-light {
  --button-color: var(--color-text-yellow);
}
.n-cta-button.bg-green-light {
  --button-color: var(--color-text-green);
}
.n-cta-button.bg-blue-light {
  --button-color: var(--color-text-blue);
}
.n-cta-button.bg-purple-light {
  --button-color: var(--color-text-purple);
}
.n-cta-button.bg-pink-light {
  --button-color: var(--color-text-pink);
}
.n-cta-button.bg-red-light {
  --button-color: var(--color-text-red);
}
.n-cta-button.btn-primary {
  color: white;
  border: solid 3px white !important;
  background-color: var(--button-color);
}
.n-cta-button.btn-secondary {
  border: solid 3px var(--button-color) !important;
  background-color: white;
  color: var(--button-color);
}
.n-cta-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 15px var(--button-color);
}
.n-cta-button:hover .notion-callout__content {
  text-decoration: underline;
}
.n-cta-button .notion-callout__icon {
  order: 2;
  text-align: right;
}
.n-cta-button .notion-callout__content {
  margin-left: 0px !important;
  flex-grow: 2;
}

@-webkit-keyframes bgImageIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgImageIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.notion-callout__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  background-color: black;
  border-radius: var(--callout-border-radius);
  overflow: hidden;
}
.notion-callout__bg::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  opacity: 0.5;
  background-color: var(--callout-bg-color);
  border-radius: var(--callout-border-radius);
}
.notion-callout__bg .notion-callout__bg__embed, .notion-callout__bg .notion-callout__bg__image-icon, .notion-callout__bg .notion-callout__bg__image-body {
  position: absolute;
  top: 0px;
  left: 0px;
}
.notion-callout__bg .notion-callout__bg__embed {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--callout-border-radius);
}
.notion-callout__bg .notion-callout__bg__embed iframe {
  height: 100%;
  width: 100%;
  transform: scale(1.3);
}
@media only screen and (max-width: 860px) {
  .notion-callout__bg .notion-callout__bg__embed {
    display: none !important;
  }
}
.notion-callout__bg .notion-callout__bg__image-icon, .notion-callout__bg .notion-callout__bg__image-body {
  z-index: 1;
  border-radius: var(--callout-border-radius);
}
.notion-callout__bg .notion-callout__bg__image-body {
  -webkit-animation: bgImageIn 1.5s ease-in-out;
          animation: bgImageIn 1.5s ease-in-out;
}
.notion-callout__bg .notion-image {
  margin: 0px;
}
.notion-callout__bg div, .notion-callout__bg img, .notion-callout__bg span {
  height: 100% !important;
  width: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Page Header */
@media only screen and (min-width: 1201px) and (min-height: 401px) {
  body.n-full-width:not(.n-contains-hero) .notion-header {
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    margin-bottom: var(--navScreenMargin);
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__cover.has-cover {
    display: block;
    overflow: visible;
    padding-top: var(--padding-safe-area-top);
    position: unset !important;
    height: 55vh !important;
    max-height: unset;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__cover.has-cover span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    max-height: unset;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__content {
    position: relative;
    z-index: 2;
    padding-left: calc(var(--padding-safe-area-left) + var(--padding-fullwidth-lr));
    padding-right: calc(var(--padding-safe-area-right) + var(--padding-fullwidth-lr));
    padding-bottom: calc(var(--padding-safe-area-bottom) + 50px);
    padding-top: 50px;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__content.has-cover {
    --color-text-default-light: var(--color-text-default-ondark);
    color: var(--color-text-default-ondark);
    -webkit-backdrop-filter: blur(50px) brightness(0.9);
            backdrop-filter: blur(50px) brightness(0.9);
    text-shadow: var(--text-shadow-default);
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__content.no-cover {
    --color-text-default-light: var(--color-text-default);
    color: var(--color-text-default);
    padding-top: calc(var(--padding-safe-area-top) + 100px);
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__content .notion-header__title-wrapper {
    margin: 0px;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__content .notion-header__title-wrapper, body.n-full-width:not(.n-contains-hero) .notion-header .notion-header__content .notion-header__title-wrapper h1 {
    padding: 0px;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-page__properties {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
    padding-top: var(--props-gap);
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-page__properties * {
    overflow: visible;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-page__properties #block-root-divider {
    display: none;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-page__properties .notion-page__property {
    display: block !important;
    min-height: unset !important;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-page__properties .notion-page__property .notion-page__property-name {
    display: none;
  }
  body.n-full-width:not(.n-contains-hero) .notion-header .notion-page__properties .notion-page__property .notion-property {
    padding: 0px;
    padding-right: var(--props-gap);
    min-height: unset;
  }
  body.n-full-width:not(.n-contains-hero).n-contains-featuredmedia .notion-header {
    margin-bottom: 0px;
  }
  body.n-full-width:not(.n-contains-hero) .super-content {
    padding-left: calc(var(--padding-safe-area-left) + var(--padding-fullwidth-lr)) !important;
    padding-right: calc(var(--padding-safe-area-right) + var(--padding-fullwidth-lr)) !important;
  }
  body.n-full-width:not(.n-contains-hero) .super-content .notion-embed.n-featuredmedia {
    width: 100vw;
  }

  body.n-normal-width:not(.n-contains-hero) .notion-header {
    width: var(--page-Header-Width);
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color: white;
    padding: 0px !important;
    display: flex !important;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: var(--padding-safe-area-top);
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__cover {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    max-height: unset;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__cover span, body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__cover img {
    height: inherit !important;
    -o-object-position: center center !important;
       object-position: center center !important;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__cover.has-cover::before {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 80%);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content {
    padding-top: 50px;
    padding-left: var(--padding-safe-area-left);
    padding-right: calc(var(--padding-s-lr)/2);
    padding-bottom: calc(var(--padding-safe-area-bottom) + 50px);
    margin: 0px !important;
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: left;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content.has-cover {
    --color-text-default-light: var(--color-text-default-ondark) !important;
    color: var(--color-text-default-ondark);
    text-shadow: var(--text-shadow-default);
    backdrop-filter: blur(15px) brightness(0.7) contrast(1.5);
    -webkit-backdrop-filter: blur(15px) brightness(0.7) contrast(1.5);
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content.no-cover {
    --color-text-default-light: var(--color-text-default) !important;
    color: var(--color-text-default);
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content.has-icon {
    padding-top: 25px;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content:not(.has-props) {
    padding-bottom: calc(var(--padding-safe-area-bottom) + 100px);
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content .notion-header__icon-wrapper.has-icon {
    padding-bottom: 15px;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content .notion-header__title-wrapper {
    margin-top: 0px;
    padding: 0px;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-header__content .notion-header__title-wrapper h1 {
    padding: 0px;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-page__properties {
    padding-top: var(--props-gap);
    display: flex !important;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: flex-start;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-page__properties * {
    overflow: unset !important;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-page__properties .notion-page__property {
    margin: 0px;
    padding: 0px;
    min-height: 0px !important;
    width: auto;
    display: block !important;
    grid-template-columns: unset !important;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-page__properties .notion-page__property .notion-page__property-name {
    display: none;
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-page__properties .notion-property {
    min-height: unset !important;
    display: block;
    padding: 0px;
    padding-right: var(--props-gap);
  }
  body.n-normal-width:not(.n-contains-hero) .notion-header .notion-page__properties #block-root-divider {
    display: none;
  }
  body.n-normal-width:not(.n-contains-hero) .super-content {
    --content-padding-r: calc(var(--padding-safe-area-right) + var(--padding-fullwidth-lr));
    width: var(--page-Content-Width);
    max-width: unset;
    margin-left: 40%;
    margin-top: calc(var(--navHeight) + var(--navScreenMargin) + var(--navScreenMargin));
    padding-right: var(--content-padding-r) !important;
  }
}
@media only screen and (min-width: 1201px) and (min-height: 401px) and (max-width: 1200px) {
  body.n-normal-width:not(.n-contains-hero) .super-content {
    --content-padding-r: calc(var(--padding-safe-area-right));
  }
}
@media only screen and (min-width: 1201px) and (min-height: 401px) {
  body.n-normal-width:not(.n-contains-hero) .super-content .notion-embed.n-featuredmedia, body.n-normal-width:not(.n-contains-hero) .super-content #block-d79aa4dadc4847ec95276c136b84d8e0 {
    width: calc(100% + var(--content-padding-r) + var(--padding-safe-area-left)) !important;
    align-self: center;
    margin: 0px;
    padding: 0px;
    padding-top: calc(var(--navHeight) + var(--navScreenMargin));
    position: relative;
    left: calc(var(--padding-fullwidth-lr)/2);
    background-color: black;
  }
}
@media only screen and (min-width: 1201px) and (min-height: 401px) and (max-width: 1200px) {
  body.n-normal-width:not(.n-contains-hero) .super-content .notion-embed.n-featuredmedia, body.n-normal-width:not(.n-contains-hero) .super-content #block-d79aa4dadc4847ec95276c136b84d8e0 {
    left: 0px;
  }
}
@media only screen and (min-width: 1201px) and (min-height: 401px) {
  body.n-normal-width:not(.n-contains-hero) .super-content #block-d79aa4dadc4847ec95276c136b84d8e0 {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1201px) and (min-height: 401px) {
  body.n-normal-width:not(.n-contains-hero).n-contains-featuredmedia .super-content {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}
@media only screen and (max-width: 1200px), screen and (max-height: 400px) {
  body.n-normal-width .notion-header, body.n-full-width .notion-header {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    background-color: white;
    display: flex !important;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  body.n-normal-width .notion-header .notion-header__cover.has-cover, body.n-full-width .notion-header .notion-header__cover.has-cover {
    position: unset;
    min-height: 80vh;
  }
  body.n-normal-width .notion-header .notion-header__cover.has-cover > span, body.n-full-width .notion-header .notion-header__cover.has-cover > span {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    max-height: unset;
  }
  body.n-normal-width .notion-header .notion-header__cover.has-cover > span img, body.n-full-width .notion-header .notion-header__cover.has-cover > span img {
    height: inherit !important;
    -o-object-position: center center !important;
       object-position: center center !important;
  }
  body.n-normal-width .notion-header .notion-header__cover.has-cover.has-cover::before, body.n-full-width .notion-header .notion-header__cover.has-cover.has-cover::before {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8));
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  body.n-normal-width .notion-header .notion-header__content, body.n-full-width .notion-header .notion-header__content {
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
    z-index: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-width: unset;
    padding-left: var(--padding-safe-area-left) !important;
    padding-right: var(--padding-safe-area-left) !important;
    padding-top: calc(var(--padding-safe-area-top) + 20px) !important;
    padding-bottom: 20px !important;
  }
  body.n-normal-width .notion-header .notion-header__content.has-cover, body.n-full-width .notion-header .notion-header__content.has-cover {
    --color-text-default-light: white;
    color: var(--color-text-default-light);
    padding-top: calc(var(--navScreenMargin)) !important;
    text-shadow: var(--text-shadow-default);
    -webkit-backdrop-filter: blur(25px) brightness(0.9);
            backdrop-filter: blur(25px) brightness(0.9);
  }
  body.n-normal-width .notion-header .notion-header__content.no-cover, body.n-full-width .notion-header .notion-header__content.no-cover {
    --color-text-default-light: var(--color-text-default);
    color: var(--color-text-default);
  }
  body.n-normal-width .notion-header .notion-header__content .notion-header__icon-wrapper, body.n-full-width .notion-header .notion-header__content .notion-header__icon-wrapper {
    margin: 0px auto;
    position: unset !important;
    display: block;
  }
  body.n-normal-width .notion-header .notion-header__content .notion-header__title-wrapper, body.n-full-width .notion-header .notion-header__content .notion-header__title-wrapper {
    margin: 0px;
  }
  body.n-normal-width .notion-header .notion-page__properties, body.n-full-width .notion-header .notion-page__properties {
    display: flex;
    min-height: unset !important;
  }
  body.n-normal-width .notion-header .notion-page__properties .notion-property, body.n-normal-width .notion-header .notion-page__properties .notion-page__property, body.n-full-width .notion-header .notion-page__properties .notion-property, body.n-full-width .notion-header .notion-page__properties .notion-page__property {
    min-height: unset !important;
  }
  body.n-normal-width .notion-header .notion-page__properties .notion-page__property, body.n-full-width .notion-header .notion-page__properties .notion-page__property {
    display: flex !important;
    width: auto;
  }
  body.n-normal-width .notion-header .notion-page__properties .notion-page__property-name, body.n-full-width .notion-header .notion-page__properties .notion-page__property-name {
    display: none;
  }
  body.n-normal-width .notion-header .notion-page__properties #block-root-divider, body.n-full-width .notion-header .notion-page__properties #block-root-divider {
    display: none;
  }
  body.n-normal-width.n-contains-featuredmedia .notion-header, body.n-full-width.n-contains-featuredmedia .notion-header {
    margin-bottom: 0px;
  }
  body.n-normal-width .super-content, body.n-full-width .super-content {
    max-width: unset;
  }
  body.n-normal-width .super-content .notion-embed.n-featuredmedia, body.n-normal-width .super-content #block-d79aa4dadc4847ec95276c136b84d8e0, body.n-full-width .super-content .notion-embed.n-featuredmedia, body.n-full-width .super-content #block-d79aa4dadc4847ec95276c136b84d8e0 {
    width: calc(100% + var(--padding-safe-area-left) + var(--padding-safe-area-right));
    align-self: center;
  }
}
body.n-contains-hero .notion-header {
  display: none !important;
}

.notion-collection .notion-collection__header {
  display: none;
}

.notion-collection .notion-collection-gallery {
  border-top: none !important;
  margin: 0px !important;
  padding: 0px !important;
  --card-title-size: 1.8em;
}
.notion-collection .notion-collection-gallery.small .notion-collection-card.gallery {
  min-height: 160px;
  --card-title-size: 1.2em;
}
.notion-collection .notion-collection-gallery.medium .notion-collection-card.gallery {
  min-height: 250px;
  --card-title-size: 1.8em;
}
.notion-collection .notion-collection-gallery.large .notion-collection-card.gallery {
  min-height: 250px;
  --card-title-size: 2.2em;
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: var(--boxshadow-default);
  border-radius: var(--collection-card-border-radius);
  margin: 0px !important;
  padding: 0px !important;
  transition: 0.5s all ease-in-out;
  border: solid 1px white;
  background-color: white;
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery:hover {
  box-shadow: var(--boxshadow-heavy);
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery:hover .notion-collection-card__cover {
  transform: scale(1.1);
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-collection-card__cover {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  min-height: unset;
  max-height: unset;
  z-index: 1;
  border: none !important;
  transform: scale(1);
  transition: 0.5s all ease-in-out;
  border-radius: var(--collection-card-border-radius);
  overflow: hidden;
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-collection-card__cover img {
  -o-object-position: center center !important;
     object-position: center center !important;
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-collection-card__cover::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 80%);
  border-radius: var(--collection-card-border-radius);
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-property.notion-property__title {
  padding-bottom: 0px;
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-property.notion-property__title:last-child {
  padding-bottom: 10px;
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-property.notion-property__title .notion-semantic-string {
  font-size: var(--card-title-size);
  font-weight: bold;
  font-family: var(--title-font-family) !important;
  text-transform: uppercase;
  white-space: pre-wrap;
  overflow: visible;
  line-height: 1.2;
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-property.notion-property__title, .notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-collection-card__content, .notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-property {
  position: relative;
  z-index: 2;
  color: var(--color-text-default-ondark);
  --color-text-default-light: var(--color-text-default-ondark);
  text-shadow: var(--text-shadow-default);
}
.notion-collection .notion-collection-gallery .notion-collection-card.gallery .notion-property__title__icon-wrapper {
  display: none;
}

@media (max-width: 680px) {
  /*:root {
      --navHeight: 70px;
      --box-radius: 20px;
      --padding-safe-area-left:  calc(env(safe-area-inset-left) + 24px);
      --padding-safe-area-right:  calc(env(safe-area-inset-right) + 24px);
  }*/
  /* Navbar */
  /*.n-navbar, .super-navbar {
      --padding-LR: 10px;

      top: unset !important;
      bottom: calc(0px + env(safe-area-inset-bottom)) !important;
      padding-top: unset !important;
      padding-bottom: var(--screenMargin) !important;

      .n-navbar__content {
      flex-wrap: wrap !important;
      }

      .n-navbar__siteinfo img, .super-navbar__logo-image img {
              width: calc(var(--navHeight) - var(--padding-LR)) !important;
              object-position: left center;

      }
      .n-navbar__navlinks {
          order: 10;
          width: 100%;
      }
      .super-navbar__menu-wrapper {
          align-items: flex-end;
      }
  }

  */
  /* Collections */
  /*
  //Hero Collections
  article.notion-root > .notion-collection:first-child, .notion-collection.hero {
      width:100vw;

      .notion-collection-gallery {
          grid-template-rows: 45vh auto !important;
          grid-template-columns: repeat(1, 1fr) !important;

          .notion-collection-card {
              height: 15vh;
              width: calc(100vw - var(--padding-safe-area-left) - var(--padding-safe-area-right));
              justify-self: center;

              .notion-property__title {

                  .notion-semantic-string {
                      font-size: 3vh !important;
                  }
              }
          }


          & > .notion-collection-card:first-child {
              width: 100vw;
              align-self: center;
              border-top: none;
              border-left: none;
              border-right: none;
              border-radius: 0px !important;
              .notion-property__title {
                  margin: 20px 10px;
                  .notion-semantic-string {
                      font-size: 3em !important;
                  }
              }
          }
      }
  }*/
}
/* Nysics Lightbox */
.n-lightbox {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 1vh 1vw;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: zoom-out;
}

.n-lightbox.open {
  z-index: 200000;
  display: flex;
  -webkit-animation-name: n-lightboxOpen;
          animation-name: n-lightboxOpen;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.n-lightbox.open.closing {
  -webkit-animation-name: n-lightboxClose;
          animation-name: n-lightboxClose;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.n-lightbox .n-lightbox__blocker {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: zoom-out;
}

.n-lightbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
}

.n-lightbox.open img {
  -webkit-animation-name: n-lightboxOpenImg;
          animation-name: n-lightboxOpenImg;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 1;
  cursor: zoom-out;
}

.n-lightbox.open.closing img {
  -webkit-animation-name: n-lightboxCloseImg;
          animation-name: n-lightboxCloseImg;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.n-lightbox #n-lightbox__close {
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2vh 2vw;
  text-align: right;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: var(--color-text-red);
  cursor: default;
}

@-webkit-keyframes n-lightboxOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes n-lightboxOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes n-lightboxClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes n-lightboxClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes n-lightboxOpenImg {
  0% {
    transform: scale(0.85);
    opacity: 0;
    filter: blur(5px);
  }
  20% {
    transform: scale(0.85);
    opacity: 0;
    filter: blur(5px);
  }
  80% {
    filter: blur(0px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes n-lightboxOpenImg {
  0% {
    transform: scale(0.85);
    opacity: 0;
    filter: blur(5px);
  }
  20% {
    transform: scale(0.85);
    opacity: 0;
    filter: blur(5px);
  }
  80% {
    filter: blur(0px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes n-lightboxCloseImg {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.85);
    opacity: 0;
    filter: blur(5px);
  }
}
@keyframes n-lightboxCloseImg {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.85);
    opacity: 0;
    filter: blur(5px);
  }
}
#block-d79aa4dadc4847ec95276c136b84d8e0 {
  background-color: var(--color-bg-default) !important;
  margin-bottom: 0px;
  padding-left: var(--padding-safe-area-left);
  padding-right: var(--padding-safe-area-right);
}/*# sourceMappingURL=sitestyle-block.css.map */