:root {
    --color-text-default: rgb(55, 53, 47)  !important;
    --color-text-default-light: rgba(55, 53, 47, 0.6)  !important;
    --color-text-default-ondark: white  !important;
    --color-text-gray: rgb(155, 154, 151)  !important;
    --color-text-brown: rgb(100, 71, 58) !important;
    --color-text-orange: rgb(217, 115, 13) !important;
    --color-text-yellow: rgb(223, 171, 1) !important;
    --color-text-green: rgb(15, 123, 108) !important;
    --color-text-blue: rgb(11, 110, 153) !important;
    --color-text-purple: rgb(105, 64, 165) !important;
    --color-text-pink: rgb(173, 26, 114) !important;
    --color-text-red: rgb(224, 62, 62) !important;
    --color-bg-default: rgb(255, 255, 255) !important;
    --color-bg-gray: rgb(235, 236, 237) !important;
    --color-bg-brown: rgb(233, 229, 227) !important;
    --color-bg-orange: rgb(250, 235, 221) !important;
    --color-bg-yellow: rgb(251, 243, 219) !important;
    --color-bg-green: rgb(221, 237, 234) !important;
    --color-bg-blue: rgb(221, 235, 241) !important;
    --color-bg-purple: rgb(234, 228, 242) !important;
    --color-bg-pink: rgb(244, 223, 235) !important;
    --color-bg-red: rgb(251, 228, 228) !important;
    --color-bg-gray-light: rgba(235, 236, 237, 0.8) !important;
    --color-bg-brown-light: rgba(233, 229, 227, 0.3) !important;
    --color-bg-orange-light: rgba(250, 235, 221, 0.3) !important;
    --color-bg-yellow-light: rgba(251, 243, 219, 0.3) !important;
    --color-bg-green-light: rgba(221, 237, 234, 0.3) !important;
    --color-bg-blue-light: rgba(221, 235, 241, 0.3) !important;
    --color-bg-purple-light: rgba(234, 228, 242, 0.3) !important;
    --color-bg-pink-light: rgba(244, 223, 235, 0.3) !important;
    --color-bg-red-light: rgba(251, 228, 228, 0.3) !important;
    --color-pill-default: rgba(206, 205, 202, 0.5) !important;
    --color-pill-gray: rgba(155, 154, 151, 0.4) !important;
    --color-pill-brown: rgba(140, 46, 0, 0.2) !important;
    --color-pill-orange: rgba(245, 93, 0, 0.2) !important;
    --color-pill-yellow: rgba(233, 168, 0, 0.2) !important;
    --color-pill-green: rgba(0, 135, 107, 0.2) !important;
    --color-pill-blue: rgba(0, 120, 223, 0.2) !important;
    --color-pill-purple: rgba(103, 36, 222, 0.2) !important;
    --color-pill-pink: rgba(221, 0, 129, 0.2) !important;
    --color-pill-red: rgba(255, 0, 26, 0.2) !important;
    --color-ui-hover-bg: rgba(55, 53, 47, 0.08) !important;
    --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03) !important;
    --color-card-bg: rgb(255, 255, 255) !important;
    --color-accent-bg: rgb(46, 170, 220) !important;
    --color-border-default: rgba(235, 236, 237, 0.8) !important;
    --color-border-dark: rgba(55, 53, 47, 0.16) !important;
    --column-spacing: 46px !important;
    --collection-card-cover-size-small: 172px !important;
    --collection-card-cover-size-medium: 260px !important;
    --collection-card-cover-size-large: 320px !important;

    --navHeight: 80px;
    --button-radius: 20px;
    --button-color: #159393;
    --box-radius: 30px;
    --contentMaxWidth: 1200px;
    --defaultOuterPadding: calc(env(safe-area-inset-left) + 96px);
    --color-nav-bg: rgba(20, 20, 20, .9);
    --color-highlight-default: #24AFFF;
    --title-font-family: 'Montserrat', sans-serif; 

    --boxshadow-default: 0px 3px 25px rgba(0,0,0,.2);
    --boxshadow-heavy: 0px 5px 35px rgba(0,0,0,.4);
    --text-shadow-default: 0px 3px 25px rgba(24, 15, 15, 1);

    --padding-safe-area-left:  calc(env(safe-area-inset-left) + 96px);
    --padding-safe-area-right:  calc(env(safe-area-inset-right) + 96px);

    --page-Header-Width: 40%;
    --page-Content-Width: 60&;
    --mage-Content-Max-Width: unset;
}

::-moz-selection {
    background: var(--color-highlight-default) !important;
    opacity: .3 !important;
}

::selection {
    background: var(--color-highlight-default) !important;
    opacity: .3 !important;
}

html, body {

    min-height: 100%;
    &, .notion-semantic-string {
        font-family: 'Open Sans', sans-serif;
    }
}
//html.modified {
body {
    background: linear-gradient(to left bottom, rgba(214,247,255,1), rgba(255,255,255,1)) !important;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, .notion-heading {
    .notion-semantic-string {
        font-family: var(--title-font-family);
        font-weight: 300;
        line-height: .8em !important;

        strong {
            text-transform: uppercase;
        }
        em {
            font-family: 'Permanent Marker', cursive;
            font-style: normal;
        }
    }
}
h1 .notion-semantic-string{
    font-weight: 700 !important;
    font-size: 1.5em;
}
h3 .notion-semantic-string{
    text-transform: uppercase;
}

#page-index .notion-header {
    display: none;
}

.notion-toggle.bg-purple {
    //display: none;
}
.bg-pink {
    background-color: transparent !important;
    text-align: center;
}

/* Navbar */
.notion-navbar {
    display: none !important;
}
.n-navbar, .super-navbar {
    --padding-LR: 20px;
    --padding-TB: 10px;
    --screenMargin: 20px;

    display: block;
    padding-left: var(--padding-safe-area-left) !important;
    padding-right: var(--padding-safe-area-right) !important;
    width: 100% !important;
    height: calc(var(--navHeight) + var(--screenMargin)) !important;
    position: fixed !important;
    top: calc(0px + env(safe-area-inset-top));
    left:0px;
    box-sizing: border-box;
    z-index: 1000;
    padding-top: var(--screenMargin);
    background-color: transparent !important;

    a, a div, a svg {
        cursor: default;
    }

    .n-navbar__content, .super-navbar__content {

        width: 100%;
        height: 100%;
        display: flex;
        padding: var(--padding-TB) 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.6));
        backdrop-filter: blur(25px) brightness(150%);
        -webkit-backdrop-filter: blur(25px);
        border-radius: calc(var(--box-radius) * 2);
        border:solid 2px rgba(255,255,255,.3);
        box-shadow: var(--boxshadow-heavy);
    }

    .n-navbar__divider {
        flex-grow: 2;
    }

    .notion-navbar__search {
        position: unset !important;
        top: unset;
        bottom: unset;
        z-index: 2 !important;
        cursor: default;

        &:hover svg {
            transform: scale(1.1);
        }
    }

    //Logo
    .super-navbar__logo-image {
        width: 100% !important;
        height: calc(var(--navHeight) - var(--padding-LR)) !important;
        max-height: var(--navHeight) !important;

    }
    .n-navbar__siteinfo {
        display: flex;
        flex-flow: row;

        img {
            height: calc(var(--navHeight) - var(--padding-LR));
            max-height: var(--navHeight);
            /*min-height: var(--navHeight);
            max-width: var(--navHeight);
            object-fit: cover !important;
            object-position: 0px 0px !important;*/
        }
        .n-navbar__sitename {
            //margin-left: 10px;
        }
    }
    .n-navbar__navlinks, .n-navbar__herolinks {
        align-items: center;
        flex-wrap: nowrap;
        list-style-type: none !important;
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    // Regular links
    
    .n-navbar__navlinks li a, .super-navbar__item-list a{
        padding: 8px 15px;
        text-transform: uppercase;
        background-color:transparent;
        border-radius: calc(var(--button-radius) / 2);
        transition: all .2s ease-in-out;
        color:black;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        &:hover {
            background-color: rgba(255,255,255,.6);
            color: var(--color-highlight-default);
            box-shadow: var(--boxshadow-default);
            transform: scale(1.1);
        }
    }
    .super-navbar__item-list {
        overflow: visible;
    }

    // Hero Links
    .n-navbar__herolinks li a, .super-navbar__actions .notion-link div {
        padding: 5px 20px;
        text-transform: uppercase;
        background-color: transparent !important;
        backdrop-filter: brightness(250%) blur(20px);
        -webkit-backdrop-filter: brightness(250%) blur(20px);
        border:solid 3px var(--button-color) !important;
        border-radius: calc(var(--button-radius));
        color: var(--button-color) !important;
        font-weight: bold;
        letter-spacing: 2px;
        opacity: 1;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }

        .notion-link {
            opacity: 1;
        }
    }
    
    .n-navbar__herolinks {
        margin-left: 10px;
    }
}

/* Hero */
.n-callout-children .notion-callout:not(.n-cta-button) {
    .notion-callout__content > .notion-semantic-string, .notion-callout__icon {
        display: none;
    }
}
.n-callout-children .notion-column > .notion-collection .notion-collection-card {
    width: 100%;
    min-width: unset !important;
}
.n-callout-children .notion-column > .notion-collection .notion-collection-card:not(:first-child) {
    display: none;
}

/* CTA Buttons */
.n-cta-button {
    border: solid 3px var(--button-color);
}

/* Callouts */
.notion-callout {
    position: relative;
    &.contains-image > .notion-callout__icon {
        display: none;
    }
}
.notion-callout__bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;

    div, img {
        height:100% !important;
        width: 100% !important;
        object-fit: cover !important;
    }
}

@import './tables/tables-galleries.scss';


@media (max-width: 546px) {
@import './sitestyle-block-mobile.scss';
}
//}