@import './scssmixins.scss';

.notion-toggle.bg-purple {
    display: none;
}
.notion-callout > .notion-callout__content {
    margin-left: 0px;
}
.bg-pink {
    background-color: transparent !important;
    text-align: center;
}
.notion-divider {
    padding-top: var(--divider-thickness) !important;
    padding-bottom: var(--divider-thickness) !important;
    border-color: transparent !important;
    border-width: 0px !important;
    opacity: 0;
    margin: 0px !important;
}

.notion-header {
    margin-top: calc(var(--padding-safe-area-top) + 20px);
    .notion-header__cover.no-cover {
        display: none;
    }
    .notion-header__cover.has-cover {
        picture, img {
            height: 100% !important;
        }
    }

    .notion-header__content {
        padding-left: var(--padding-safe-area-left);
        padding-right: var(--padding-safe-area-right);
    }
    .notion-header__title-wrapper {
        text-transform: uppercase;
        .notion-header__title {
            //font-family: var(--title-font-family);
            font-size: 3rem;
        }
        .notion-header__icon-wrapper {
            position: unset;
        }
    }
}
.super-content {
    padding-left: var(--padding-safe-area-left) !important;
    padding-right: var(--padding-safe-area-right) !important;
    padding-bottom: var(--padding-safe-area-bottom) !important;

    .notion-text {
        padding-bottom: 10px;
    }
}

.notion-column-list {
    .notion-column {
        @include breakpoint ($bp-lg) {
            @include column-full-width();
        }
    }
}

// Table of Contents
@include breakpoint(null,$bp-lg) {
    .notion-column > .notion-table-of-contents {
        position: sticky;
        top: var(--navHeight);
    }
}