@import '../src/scssmixins.scss';

// Layout

//@include breakpoint(null, $bp-lg) {
.notion-header {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    background-color: white;
    display: flex !important;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;

    .notion-header__cover.has-cover {
        position: unset;
        min-height: 80vh;

        & > span {
            position: absolute;
            left: 0px;
            right: 0px;
            z-index: 1;
            height: 100%;
            width: 100%;
            max-height: unset;

            img {
                height: inherit !important;
                object-position: center center !important;
            }
        }

        &.has-cover::before {
            content: "";
            background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.8));
            width: 100%;
            height: 100%;
            z-index: 1;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }

    .notion-header__content {
        padding: 0px !important;
        margin: 0px !important;
        position: relative;
        z-index: 2;
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100% !important;
        max-width: unset;
        padding-left: var(--padding-safe-area-left) !important;
        padding-right: var(--padding-safe-area-left) !important;
        padding-top: calc(var(--padding-safe-area-top) + 20px) !important;
        padding-bottom: 20px !important;


        &.has-cover {
            --color-text-default-light: white;
            color: var(--color-text-default-light);
            padding-top: calc(var(--navScreenMargin)) !important;
            text-shadow: var(--text-shadow-default);
            backdrop-filter: blur(25px) brightness(.9);
        }
        &.no-cover {
            --color-text-default-light: var(--color-text-default);
            color: var(--color-text-default);
        }

        .notion-header__icon-wrapper {
            margin: 0px auto;
            position: unset !important;
            display: block;
        }
        .notion-header__title-wrapper {
            margin: 0px;
        }
    }

    .notion-page__properties {
        display: flex;
        //padding-top: ;
        flex-wrap: wrap;
        min-height: unset !important;
        .notion-property, .notion-page__property {
            min-height: unset !important;
        }
        .notion-page__property {
            display: flex !important; 
            width: auto;
        }
        .notion-page__property-name {
            display: none;
        }

        #block-root-divider {
            display: none;
        }
    }
}

&.n-contains-featuredmedia .notion-header {
    margin-bottom: 0px;
}

.super-content {
    max-width: unset;
    .notion-embed.n-featuredmedia, #block-d79aa4dadc4847ec95276c136b84d8e0 { //Featured media + footer
        width: calc(100% + var(--padding-safe-area-left) + var(--padding-safe-area-right));
        align-self: center;
    }
}
//}